@charset "utf-8";
/* CSS Document */

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body { margin:0px; padding:0px; font-size:12px; background:url(../images/app-bkg.jpg); background-size:cover; color:#FFF; }
.wrap { margin:10px 10px 0px 10px; }
/*订单搜索*/
.search-bar { height:45px; }
.search-section1 { width:80%; height:40px; float:left; }
.search-section2 { width:20%; height:40px; float:left; text-align:center; }
.search-section1 img { float:left; margin-right:5px; border:0px; border-radius:5px; width:40px; height:40px; }
.search-info { float:left; width:80%; height:40px; border:2px solid #06db16; border-radius:5px; background:#000; font-size:14px;color:#FFF;	 }
.order-search-btn { margin:0px auto; display:block;  height:40px; border-radius:5px; text-decoration:none; text-align:center; font-size:16px; line-height:39px; background:#06db16; color: #FFF;}
.order-search-btn:hover { text-decoration:none; }
/*状态条*/
.status-tab { clear:both; }
.status-tab ul { margin:0px; padding:0px; color:#FFF; font-size:14px; text-align:center; }
.status-tab ul li { list-style-type:none; margin:0px; padding:0px; display:block; float:left; width:25%; height:40px; background:#666; line-height:38px; border-bottom:2px solid #666; }
.status-tab ul .li-on { color:#0F6; border-bottom:2px solid #0F6; }
/*订单主内容*/
.order-content { margin-top:10px; }
.order-list ul { margin:0px; padding:0px; }
.order-list ul li { list-style-type:none; margin:0px; margin-bottom:10px; border-radius:5px; background:#434a4c; opacity:0.85 }
/*订单信息*/
.order-main { height:80px; }
.order-detail { float:left; width:90%; }
.order-title, .order-info, .delivery-info, .order-status { text-indent:12px; line-height:20px; }
.detail-btn { float:right; width:10%; height:80px; }
#detail-info-btn { margin:0px auto; margin-top:25px; display:block; width:30px; height:30px; }
.detail { background:url(../images/detail-btn.png) ; background-size:cover;  }
.detail-on { background:url(../images/detail-btn-on.png) ; background-size:cover;  }
/*订单结算*/
.order-total { clear:both; height:30px; border-top:2px solid #0F6; }
.total-price, .total-pro-num { float:right; margin-right:10px; line-height:26px; }
/*订单商品信息*/
.order-detail-list { height:0px; }
.order-detail-list ul li { list-style-type:none; margin:0px; padding:0px; display:block; }
.detail-pro { height:80px; }
.pro-image, .pro-info { float:left; height: 20px; }
.pro-num-price { float:right; margin-top:15px; margin-right:10px; height:50px; line-height:24px; }
.pro-image { width:70px; margin:5px; }
.pro-image img { border: 0; border-radius: 5px; margin:0px; width:70px; height:70px; opacity:1 !important; }
.pro-info { margin-left:10px; line-height:24px; }
/*共用样式*/
.num-green { color:#0F6; font-size:14px; font-weight:bold; }
.price-orange { color:#F60; font-size:14px; font-weight:bold; }
.stress { font-weight:bold; }
.clear { clear:both; }
.hide { display:none; }
/*刷新部分*/
#loadNext { text-align:center; }
#showAll { width:100%; height:50px; text-align:center; font-size:13px; text-align:center; line-height:24px;color:#FFF; }
.deco { clear:both; width:100%; height:50px; }
#refreshWait { height:44px; background-image:url('../images/refreshbkg.png'); background-size:100% 100%; color:#FFF; text-align:center; line-height:40px }