<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="full-screen" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="address=no" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css?v=1.0.3" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/uiloadmsg.css" />
<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/artTemplate.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/loadmsgshare.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/commonUtil.js"></script>
<title>我的订单</title>
<style type="text/css">
.size40 { border-radius:5px; }
.wait-order { display: inline-block; padding: 5px 15px; font-size: 14px; border-radius: 4px; background: #fff; line-height: 22px; color:#e4af25; float:right; }
.order-success { display: inline-block; padding: 5px 15px; font-size: 14px; border-radius: 4px; background: #fff; line-height: 22px; color:#39b868; float:right; }
.show-all { margin:0px auto; text-align:center; height:40px; line-height:26px; }
</style>
</head>

<body>
	<section class="s-options mb10">
	    <ul class="s-items">
	        <li><a data-type="0" href="" class="curr"><span>全部</span></a><hr></li>
	        <li><a data-type="1" href=""><span>待付款</span></a><hr></li>
	        <li><a data-type="2" href=""><span>待发货</span></a><hr></li>
	        <li><a data-type="3" href=""><span>待收货</span></a><hr></li>
	        <li><a data-type="4" href=""><span>待评价</span></a><hr></li>
	    </ul>
	</section>
	
	<div class="order-list"></div>
	
	<section class="noResult fn-hide">
		<span class="order">没有订单记录</span>
	</section>
	
	<div class="show-all" style="display:none;">已显示所有数据</div>
	
	<div class="popLoading">
	    <div class="cont">
	        <div class="loadingAmt">
	            <div class="img">
	                <div class="img2"></div>
	            </div>
	        </div>
	        <div class="pt10">正在加载...</div>
	    </div>
	</div>
	
	<!-- 关闭订单弹窗 begin -->
	<div class="mobilePrompt">
		<div class="box">
			<div class="item">
				<input type="hidden" name="refund_oid" id="refund_oid" value="" /><!-- 要协商撤销退款的订单编号 -->
				<textarea class="comment" name="refund_reason" id="refund_reason" placeholder="请输入协商撤销订单的理由"></textarea>
			</div>
			<div class="refund-handle">
				<div class="qb_flex qb_mb10">
					<span class="mod_btn btn_block btn_strong flex_box refund-confirm">确认</span>
					<span class="mod_btn btn_block btn_em flex_box refund-cancel">取消</span>
				</div>
			</div>
		</div>
	</div>
	<!-- 关闭订单弹窗 end -->
	
	<a href="{:U('WeMall/Cart/shoppingCart', array('sid' => $sid), '')}" class="linkNeedLogin toShoppingCart"></a>
	<a href="javascript:;" id="gotoTalk" class="toAskSales"></a>
	
	<input type="hidden" id="noTalking" />
	
<!-- 订单列表 js arttemplate begin -->
<script type="text/html" id="orderlisttpl">
{{each orderlist as e i}}
<section class="orderList">
    <a href="{{e.order_id | orderInfoURL}}" class="tit">编号：{{e.visual_number}}<span class="status">{{ e | getOrderStatus}}</span></a>
    {{each e.detailinfo as t j}}
    <div class="orderItem wbox">
        <div class="wbox-1">
            <a href="{{t | productDetailURL}}" class="block">
                <div class="wbox">
                    <img src="{{t.micro_path}}" class="size40">
                    <div class="msg wbox-1">
                        <div class="name">{{t.product_name}}</div>
                        <div class="sku fc-grey">{{t.pro_size}} / {{if t.pro_color}}{{t.pro_color}}{{else}}默认{{/if}}</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="count tx-r">
            <p>￥{{t.unit_price}}</p>
            <p>x {{t.amount}}</p>
        </div>
    </div>
    {{/each}}
    <div class="action">
        <span class="fl mr10">总价：<span class="fc-red">￥{{e.total_price}}</span></span>
		{{if e.is_payed == 1}}
		<span class="fl">实付：<span class="fc-red">￥{{e.pay_indeed}}</span></span>
		{{else}}
		<span class="fl">应付：<span class="fc-red">￥{{e.pay_indeed}}</span></span>
		{{/if}}
    </div>
	<div class="action handle-btn">
		<!-- 处理订单的不同状态的各类按钮显现 begin -->
		{{if e.status_flag == 0}}
			{{if e.normal_status == -2}}
				<span class="wait-order">商家发货超时</span>
			{{else if e.normal_status == -1}}
				<span class="wait-order">支付超时</span>
			{{else if e.normal_status == 0}}
				<!-- section one 第一阶段 begin -->
				<a href="javascript:;" class="fl mr5 btn mod_btn btn_strong pay-order" data-id="{{e.order_id}}" data-paytype="{{e.pay_method}}" data-salesid="{{e.guide_id}}">立即付款</a>
				<a href="javascript:;" class="fl mr5 btn mod_btn btn_em cancel-order" data-id="{{e.order_id}}">取消订单</a>
				<!-- section one 第一阶段 end -->
			{{else if e.normal_status == 1}}
				<!-- section two 第二阶段已付款待发货 begin -->
				<a href="javascript:;" class="fl mr5 btn mod_btn btn_disabled sign-order" data-id="{{e.order_id}}">确认收货</a>
				<a href="javascript:;" class="fl mr5 btn mod_btn btn_em refund-apply" data-id="{{e.order_id}}">退货退款</a>
				<!-- section two 第二阶段已付款未发货 end -->
			{{else if e.normal_status == 2}}
				<!-- section two 第二阶段已发货未签收 begin -->
				<a href="javascript:;" class="fl mr5 btn mod_btn btn_strong sign-order" data-id="{{e.order_id}}">确认收货</a>
				<a href="javascript:;" class="fl mr5 btn mod_btn btn_em refund-apply" data-id="{{e.order_id}}">退货退款</a>
				<a href="javascript:;" class="fl mr5 btn mod_btn view-delivery" data-id="{{e.order_id}}">查看物流</a>
				<!-- section two 第二阶段已发货未签收 end -->
			{{else if e.normal_status == 3}}
				<!-- section three 第三阶段未评价 begin -->
				<a href="javascript:;" class="fl mr5 btn mod_btn btn_strong appraise-order" data-id="{{e.order_id}}">评价订单</a>
				<!-- section three 第三阶段未评价 end -->
			{{else if e.normal_status == 4}}
				<!-- section three 第三阶段已评价 begin -->
				<a href="javascript:;" class="fl mr5 btn mod_btn btn_em delete-order" data-id="{{e.order_id}}">删除订单</a>
				<!-- section three 第三阶段已评价 end -->
			{{else}}
				<span class="wait-order">未知状态</span>
			{{/if}}
		{{else if e.status_flag == 1}}
			{{if e.refund_status == 1 && e.compel_refund == 0}}
				<span class="wait-order">退款申请中...</span>
			{{else if e.refund_status == 1 && e.compel_refund == 1}}
				<!-- 订单可以被顾客点领退款 begin -->
				<a href="javascript:;" class="fl mr5 btn mod_btn btn_strong compel-refund" data-id="{{e.order_id}}">申领退款</a>
				<!-- 订单可以被顾客点领退款 begin -->
			{{else if e.refund_status == 2}}
				<span class="wait-success">商家同意退款，处理中...</span>
			{{else if e.refund_status == 3}}
				<span class="wait-order">商家拒绝退款，请致电协商</span>
			{{else if e.refund_status == 4}}
				<span class="wait-success">退款成功，订单已关闭</span>
			{{else if e.refund_status == 5}}
				<span class="wait-order">退款结束，订单已关闭</span>
			{{else}}
				<span class="wait-order">未知状态</span>
			{{/if}}
		{{else}}
			<span class="wait-order">未知状态</span>
		{{/if}}
		<!-- 处理订单的不同状态的各类按钮显现 begin -->
	</div>
</section>
{{/each}}
</script>
<!-- 订单列表 js arttemplate end -->

<script type="text/javascript">
var eid = "{$eid}", 					// 商家编号
	sid = "{$sid}", 					// 分店编号
	openid = "{$openid}", 				// 订单用户微信号
	querytype = 0, 						// 默认订单的请求类型为全部（0为全部订单，1为待付款，2为待发货，3为待收货，4为待评价，5为已评价，6为已关闭）
	hasMoreData = true, 				// 本js模块全局变量：后续是否还有数据
	isLoadingData = false, 				// 本js模块全局变量：本模块正在请求数据标记
	nextstart = 0, 						// 页面默认下一次请求开始的数据位置
	requestOrderListURL = "{:U('WeMall/Order/queryOrder', '', '')}", // 分页请求订单
	webchatRequestURL = "{:U('WeMall/GuideChatRequest/initWebChat', '', '')}", // 请求聊天窗URL
	orderlistjson = '{$orderlistjson}'; // 打开页面一屏orderlistjson信息
	
// 页面初始化函数
$(function(){
	
	// 第一次直出渲染模板
	var orderlist = $.parseJSON(window.orderlistjson); // 解析页面的json数据（不管是带了反斜杠，还是没有反斜杠，都可以解析json数据） 
	var tmpl = template('orderlisttpl', orderlist.data); // 利用json数据渲染art模板引擎，返回渲染后的htmlDOM结构与数据
	var orderListObj = $('.order-list'); 		// 抓取class为order-list，定义为orderListObj对象
	if (tmpl == '{Template Error}') {
		tmpl = ""; // 置空tmpl
		$(".noResult").removeClass("fn-hide").find(".order").html("好像出了点问题，请联系管理员。"); // 如果渲染模板出错，更换样式
	} else if (tmpl == "") {
		tmpl = ""; // 置空tmpl
		$(".noResult").removeClass("fn-hide").find(".order").html("没有订单数据，逛逛商城吧。"); // 如果渲染模板为空，更换样式
	}
	orderListObj.html(tmpl);					// 渲染成功就把模板渲染的信息写入
	window.nextstart = orderlist.nextstart;		// 下一页开始
	$(".popLoading").remove(); 					// 隐藏加载框
	
	// 绑定DOM结构事件
	$("body").on("click", ".s-items li a", function(e) {
		// 切换不同的订单状态
		e.preventDefault();
		if ($(this).hasClass("curr")) {
			return false; // 点击的菜单就是当前活跃菜单，直接返回不作处理
		}
		$(".s-items li a").removeClass("curr"); // 先移除所有tab菜单选中的状态
		$(this).addClass("curr"); // 点击的tab菜单要添加选中状态
		window.querytype = $(this).data("type"); // 获取点击的是哪个页卡（非常关键）
		getOrderList("pull", 0); // 重新获取订单
	}).on("click", ".pay-order", function(e) {
		// 支付订单按钮点击后
		e.preventDefault();
		var _t = $(this), payoid = _t.data("id"); // 获取订单编号
		scscms_alert("用微信支付为该笔订单付款？", "confirm", function() {
			var params = {
					oid : payoid, 	// 当前点击要支付的订单编号
					sid : sid, 		// 当前店铺（通行证参数，订单并不一定是该店铺的）
					method : 2, 	// 这里默认2是微信支付（以后建议可以用支付宝）
					openid : window.openid // 微信用户的openid
			}; // 准备提交参数
			$.post("{:U('WeMall/OrderRequest/wechatPay', '', '')}", params, function(result) {
				if (result.errCode == 0) {
					var payurl = "{:U('Home/WeChatPay/wechatPayV3', '', '')}?wcpid="+result.data.wcpid+"&redirecturi="+result.data.redirecturi+"&showwxpaytitle=1";
					scscms_alert("即将开启微信支付，请及时确认支付!", "ok", "", 2);	// 定时2秒后关闭窗口
					setTimeout(function() {
						// to do 2.5秒后调起微信支付
						window.location.href = payurl;
					}, 2500);
				} else{
					scscms_alert(result.errMsg, "error", "", 3);
				}
			});
		});
	}).on("click", ".view-delivery", function(e){
		e.stopPropagation();
		mobileAlert("商家未标注快递或物流公司接口繁忙，请稍后再试！");	
	}).on("click", ".sign-order", function(e) {
		// 确认收货按钮点击后
		e.preventDefault();
		var _t = $(this), id = _t.data("id"), order = _t.closest("section"); // 获得订单编号、获得该条订单的区域
		if (_t.hasClass("btn_disabled")) {
			return false; // 如果商家没有发货，并不能确认收货
		}
		var params = {
				sid : sid, 	// 当前所在店铺（通行证参数，订单并不一定是该店铺的）
				oid : id, 	// 当前点击要支付的订单编号（要确认收货的订单编号）
		}
		scscms_alert("请在真正收到货的时候才确认收货，是否继续？", "confirm", function() {
			MLoading.show("提交中，请稍后..."); // 友好度体验 
			_t.addClass("btn_disabled"); // 防误点
			$.post("{:U('WeMall/OrderRequest/signReceiveOrder', '', '')}", params, function(result){
				MLoading.hide(); // 收到响应去除MLoading框
				_t.removeClass("btn_disabled"); 
				if (result.errCode == 0) {
					mobileAlert("确认收货成功！");
					setTimeout(function(){
						if (typeof querytype != "undefined" && querytype != 0) {
							// 在订单标签卡页面，而并不是全部订单的情况下，才需要移除该标签卡下的订单（全部订单不需要移除）
							order.remove(); 
						} else {
							location.reload(); // 如果不是标签卡页面，重新刷新下页面，就可以将该笔订单显示成已收货（因为数据初始化了）
						}
					},500);
				} else {
					mobileAlert(result.errMsg); // 弹出收货失败的提醒
				}
			}, "json");
		});
	}).on("click", ".refund-apply", function(e){
		// 订单协商退款申请（弹窗）
		e.stopPropagation();
		var _t = $(this), oid = _t.closest(".order-handle").data("oid");
		scscms_alert("若非情况所需不建议撤销，已谨慎考虑确定协商退款？", "confirm", function() {
			$("#refund_oid").val(oid); 	// 写入要退款的订单编号
			$("#refund_reason").val("");// 清空协商撤销退款理由
			$(".mobilePrompt").show(); 	// 弹出关闭订单输入框
		});
	}).on("click", ".refund-confirm", function(e){
		var _t = $(this);
		// 订单协商撤销确认
		e.stopPropagation();
		var reason = $("#refund_reason").val(); // 协商撤销退款理由
		if (reason == "") {
			scscms_alert("请输入协商撤销订单的原因！", "warn", "", 2); 
			$("#refund_reason").focus();
			return false;
		}
		var params = {
				oid : $("#refund_oid").val(), // 要退款的订单编号
				reason : reason, 
				e_id : e_id 
		}
		scscms_alert("确认协商撤销理由填写无误并提交给商家？", "confirm", function() {
			MLoading.show('提交中...'); 
			_t.attr('disabled',true); 
			$.post("{:U('WeMall/OrderRequest/refundApplyOrder', '', '')}", params, function(result){
				MLoading.hide(); 
				_t.removeAttr('disabled'); 
				$("#refund_reason").val(""); 	// 不管提交成功与否，清空协商撤销退款理由
				$(".mobilePrompt").hide(); 		// 不管提交成功与否，都隐藏关闭订单输入框
				// 处理结果
				if (result.errCode == 0) {
					scscms_alert("提交协商撤销申请成功，请等待商家与您取得联系！", "ok", "", 2); 
					setTimeout(function(){
						location.reload(); // 1秒后刷新
					},800);
				} else {
					scscms_alert(result.errMsg, "error", "", 3); 
				}
			}, "json");
		});
	}).on("click", ".refund-cancel", function(e){
		// 订单协商退款申请取消（关闭弹窗）
		$(".mobilePrompt").hide(); // 隐藏关闭订单输入框
	}).on("click", ".appraise-order", function(e){
		// 交易完成评价订单
		e.preventDefault();
		window.location.href = "{:U('WeMall/Comment/guideProduct', array('sid'=> $sid), '')}?oid=" + $(this).data("id");
	}).on("click", ".delete-order", function(e){
		// 删除订单
		e.stopPropagation();
		var _t = $(this), oid = _t.closest(".order-handle").data("oid");
		var params = {
				oid : oid, 
				e_id : e_id 
		}
		scscms_alert("删除订单将不能恢复，是否继续？", "confirm", function() {
			MLoading.show('提交中...'); 
			_t.attr('disabled',true); 
			$.post("{:U('WeMall/OrderRequest/cancelOrder', '', '')}", params, function(result){
				MLoading.hide(); 
				_t.removeAttr('disabled'); 
				if (result.errCode == 0) {
					scscms_alert("删除订单成功！", "ok", "", 2);	
					order.remove(); 
					setTimeout(function(){
						location.reload(); // 1秒后刷新
					},1000);
				} else {
					scscms_alert(result.errMsg, "error", "", 3); 
				}
			}, "json");
		});
	}).on("click", ".compel-order", function(e){
		// 申领退款按钮
		var _t = $(this), oid = _t.closest(".order-handle").data("oid");
		if (_t.hasClass("btn_disabled")) {
			return false;
		}
		var params = {
				oid : oid, 
				e_id : e_id 
		}
		scscms_alert("确定要取消这笔订单并申领退款吗？", "confirm", function() {
			MLoading.show('提交中...'); 
			_t.addClass("btn_disabled"); 
			$.post("{:U('WeMall/OrderRequest/agreeRefund', '', '')}", params, function(result){
				MLoading.hide(); 
				_t.removeClass("btn_disabled"); 
				if (result.errCode == 0) {
					scscms_alert("退单并申领退款成功！", "ok", "", 2);	
					order.remove(); 
					setTimeout(function(){
						location.reload(); // 1秒后刷新
					},1000);
				} else {
					scscms_alert(result.errMsg, "error", "", 3); 
				}
			}, "json");
		});
	});
	
	// 悬浮按钮聊天窗
	$("#gotoTalk").click(function(){
		var param = { 
				sid : sid, // 分店信息
		}
		$.post(webchatRequestURL, param, function(result){
			if (result.errCode == 0) {
				location.href = result.data.chaturl; // 跳转顾客与导购聊天窗页面
			} else if (result.errCode == 20001) {
				window.location.href = loginurl+"?from="+curpage;
				return false;
			} else {
				mobileAlert(result.errMsg); // 弹出错误信息
				return false;
			}
		}, "json");
	});
	
	// 向上推（到底部才加载）与向下拉（不是很敏感）
	$(window).scroll(function() {
		var scrollh = document.body.scrollHeight; // 网页正文全文高
		var clienth = document.documentElement.clientHeight; // 网页可见区域高度
		var scrollt = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop; // 网页被卷去的高
		var limitheight = 20; // 触碰屏幕的距离底部
		if (scrollt + clienth + limitheight >= scrollh && !isLoadingData && hasMoreData) {
			isLoadingData = true;
			getOrderList('drag'); // 由本模块内的init方法来调用getOrderList方法上推加载下一页
		}
		scrollPosition = $(window).scrollTop();
	}).swipeDown(function(){
		if (! isLoadingData && document.body.scrollTop <= 1) {
            isLoadingData = true;
            getOrderList('pull', 0);			// 由本模块内的init方法来调用getOrderList方法下拉刷新
        }
	});
	
});

// 分页请求订单函数
function getOrderList(action, nextstart) {
	// Step1：定义请求参数
	var start = 0; // 定义起始页为0
	if (typeof nextstart == 'undefined') {
		start = window.nextstart; // 如果没有定义nextStart下一页数据，就用window.nextStart这个值
	} 
	var url = requestOrderListURL + "?eid=" + eid + "&sid=" + sid + "&nextstart=" + start; // 分页请求数据的地址
	if (window.querytype) {
		url += "&querytype" + window.querytype; // 加上查询条件
	}
	
	// Step2：根据不同的请求方式
	switch (action) {
		case 'pull':
			$('.show-all').hide(); // 默认已显示全部的div隐藏
			break;
		case 'drag':
			// 如果是上推操作
			MLoading.show('加载中');
			break;
		default:
			MLoading.show('加载中');
			break;
	}
	hasMoreData = true; // 模块开始请求新数据的标记置为true
	isLoadingData = true; // 模块设置为正在请求数据
	if($(".loading-bottom").length == 0){
        $("body").append('<div class="loading-bottom">加载中...</div>'); // 添加正在加载中
    }
	
	// 准备请求参数
	var params = {
			eid : eid,
			sid : sid,
			nextstart : start,
			querytype : window.querytype
	}
	// Step3：请求并且完成界面不同显示
	$.post(url, params, function(result){
		
		MLoading.hide(); // 隐藏等待刷新框
		isLoadingData = false; // 本模块正在loading数据的状态变为false
		$(".popLoading").remove(); // 取消loading
		$(".loading-bottom").remove(); // 加载中字样去掉
		
		if (result.errCode == 0) {
			// 如果正确请求到了订单数据
			var orderListObj = $('.order-list'); 		// 抓取class为order-list，定义为orderListObj对象
			
			if (action == 'pull') {
				// 如果加载数据的动作是下拉，则有新收藏可能已经更新，需要清空原来的
				orderListObj.html('');					// 渲染成功就把模板渲染的信息写入
				$(".noResult").addClass("fn-hide"); 	// 先隐藏没有数据
				
				var tmpl = template('orderlisttpl', result.data); // 利用json数据渲染art模板引擎，返回渲染后的htmlDOM结构与数据
				if (tmpl == '{Template Error}') {
					tmpl = ""; // 如果渲染模板出错，置空tmpl
					$(".noResult").removeClass("fn-hide").find(".order").html("好像出了点问题，请联系管理员。"); // 如果渲染模板出错，更换样式
				} else if (tmpl == "") {
					tmpl = ""; // 置空tmpl
					$(".noResult").removeClass("fn-hide").find(".order").html("没有订单数据，逛逛商城吧。"); // 如果渲染模板为空，更换样式
				}
				orderListObj.html(tmpl); // 写入新html数据
			} else {
				// 上推加载下一页的处理
				var tmpl = template('orderlisttpl', result.data); // 利用json数据渲染art模板引擎，返回渲染后的htmlDOM结构与数据
				if (tmpl == '{Template Error}') {
					tmpl = ''; // 如果渲染失败，则html置空
				}
				orderListObj.append(tmpl); // 在文档尾追加新html数据
				
				if (result.data.orderlist.length == 0) {
					hasMoreData = false; // 模块不在加载数据中
					$(".show-all").show(); // 显示所有数据
				}
			}
			window.nextstart = nextstart = result.nextstart; // 将下一页数据给到nextStart，同时给到window.nextStart
			// 至此，一次pull或者drag操作所有DOM元素与结构、特效变更结束
		} else {
			mobileAlert("请求订单数据失败！");
			return false; // errCode不为0，有错误码，表示请求数据失败
		}
	}, 'json');
}
</script>
</body>
</html>