<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="full-screen" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="address=no" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css?v=1.0.1" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/uiloadmsg.css" />
<script type="text/javascript" src="__PUBLIC__/js/zepto.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/artTemplate.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/loadmsgshare.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/commonUtil.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/myToushSlider.js"></script>
<script>
(function(doc, win) {
	// 移动端REM自适应
    var docEl = doc.documentElement, 
  		dpr = Math.floor(win.devicePixelRatio),
    		vp = doc.querySelector('[name="viewport"]'),
        	resizeEvt = 'orientationchange' in win ? 'orientationchange' : 'resize',
        	recalc = function () {
            var clientWidth=Math.max(docEl.clientWidth, win.innerWidth)||320;
            var width=(clientWidth<=320)?320:((clientWidth>=640)?640:clientWidth);
            if (!clientWidth) return;
            docEl.style.fontSize = 100 * (width / 320) + 'px';
            docEl.style.opacity=1;
        	};
    docEl.style.opacity=0;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);

  // 触发元素的hover状态
  doc.addEventListener("touchstart", function(){}, true)
})(document, window);
</script>
<title>{$pinfo.product_name}</title>
<style type="text/css">
body{margin-bottom: 50px;}
</style>
</head>

<body>
	<div class="swiper-containter">
		<div class="flicking_con"></div>
		<div class="main_image">
     		<ul></ul><!-- 顶部滑动图片列表 -->
		</div>
	</div>
	
	<section class="products-msg">
		<div class="wbox">
			<div class="fs15 lh20 wbox-1">
				<div class="productName">{$pinfo.product_name}</div>
				<div>
	        		<span class="fc-orange fs18"><b id="marketPrice">¥</b></span>
	        		<del class="fs14 pl5 fn-hide">¥{$pinfo.original_price}</del>
				</div>
			</div>
			<a id="inserFav" href="javascript:;" class="btn">收藏</a>
		</div>
		<div class="popSku" style="display:none;">
			<input type="hidden" name="buytype" id="buytype" value="0" /><!-- 购买方式，0是正常加入购物车，1是立即购买 -->
			<div class="p_list">
				<dl>
					<dt>价格</dt>
					<dd id="skuPriceBox"></dd>
				</dl>
				<dl class="colorDl">
					<dt>颜色</dt>
					<dd id="colorBox"></dd>
				</dl>
				<dl class="sizeDl">
					<dt>尺码</dt>
					<dd id="sizeBox"></dd>
				</dl>
				<dl>
					<dt>数量</dt>
					<dd class="pt5">
						<div class="d-plus">
							<button class="jian">-</button>
							<input class="count" type="number" min="1" value="1" />
							<button class="jia">+</button>
						</div>
						<div class="">库存：<span id="stockCount" data-limit="0">3</span>件</div>
					</dd>
				</dl>
				<dl class="">
					<dt></dt>
					<dd id="countError" class="fn-error lh20"></dd>
				</dl>
				<dl class="">
					<dt></dt>
					<button id="cartBtn" disabled class="btn btn-orange">确定</button>
					<button id="cancelCartBtn" class="btn ml10">取消</button>
				</dl>
			</div>
		</div>
	</section>
	
	<!-- 显示部分商品评价，最多5条 begin -->
	<div class="appriseBox">
		<a href="{:U('WeMall/Product/comment', array('sid' => $sid, 'pid' => $pinfo[product_id]), '')}" class="tit with-go-right">商品评价(<span id="commentCount">0</span>条)</a>
		<div class="cont"></div>
	</div>
	<!-- 显示部分商品评价，最多5条 end -->
	
	<div class="storeBox wbox">
		<img src="{$sinfo.image_path}" class="logo size43" />
		<div class="wbox-1 lh22 pl5 pr10">
			<p>{$sinfo.subbranch_name}</p>
			<p class="fc-grey fs13">{$sinfo.subbranch_address}</p>
		</div>
		<a href="{:U('WeMall/Store/storeIndex', array('sid' => $sid), '')}" class="btn mt5">到首页</a>
	</div>
	
	<section class="products-cont mt10">
		<div class="d-tab">
			<span class="on">图文描述</span>
			<span id="getRecommend" data-json="getRecommendStockList.json?storeId=1&productId=5521&stockId=35152">相关推荐</span>
		</div>
		<div class="tab-c discrip" id="tab-c1">
			{$pinfo.html_description}
		</div>
		<div class="tab-c stockList" id="tab-c2" style="display:none;" >
			<ul></ul><!-- 相关推荐列表 -->
		</div>
	</section>
	
	<div class="popCartMsg" style="display:none">
		<div class="success tx-c">
			<div><b class="fs16">添加成功</b></div>
			<div>产品已成功添加至购物车:)</div>
			<br>
			<div class="fs16">
				<a href="javascript:;" id="goOnShopping" class="fl fc-orange">继续购物</a>
				<a href="{:U('WeMall/Cart/shoppingCart', array('sid' => $sid), '')}" class="fr fc-orange">去结算</a>
			</div>
		</div>
	</div>
	
	<div class="blackFooter">
	    <div class="wbox pb10">
	        <img class="size43" src="{$sinfo.image_path}" />
	        <div class="wbox-1 fc-white lh22 pl10">
	            <div class="name">{$sinfo.subbranch_name}</div>
	            <div class="guide fn-hide">导购 <b class="guide-name">柏芸</b> 正在为您服务</div>
			</div>
	        <div>
				<a href="{:U('WeMall/Store/storeDetail', array('sid' => $sid), '')}" class="btn storeDetail">店铺详情</a>
	        </div>
	    </div>
	    <div class="footer tx-c">
			<p class="pb10">
				<a href="{:U('WeMall/Product/productList', array('sid' => $sid), '')}">店铺精选</a>
				<a href="{:U('WeMall/Product/allCategory', array('sid' => $sid), '')}" class="pl10 pr10">商品分类</a>
				<a href="{:U('WeMall/CustomerCenter/myCenter', array('sid' => $sid), '')}">我的账户</a></p>
			<p class="fc-grey">Power by WeAct</p>
	    </div>
	</div>
	
	<!--底部-->
	<div class="ft-cart">
		<!-- <div class="handle-box fl mr10"></div> -->
		<div class="btn-box">
			<a id="preCartBtn" href="javascript:;" class="btn btn-orange fav fs16 fixed-btn" data-btype="0">加入购物车</a>
			<a id="buyNowBtn" href="javascript:;" class="btn btn-rose fav fs16 fixed-btn" data-btype="1">立即购买</a>
		</div>
	</div>
	<!--end-->
	
	<a href="{:U('WeMall/Cart/shoppingCart', array('sid' => $sid), '')}" class="linkNeedLogin toShoppingCart"></a>
	<a href="javascript:;" id="gotoTalk" class="toAskSales"></a>

<!-- 商品评价 js arttemplate begin -->
<script type="text/html" id="productcommenttpl">
{{each pcommentlist as e i}}
	<div class="item">
		<div class="wbox">
			<img src="{{e.headimgurl}}" class="size43 round mr10" />
			<div class="wbox-1 lh20">
				<div>{{e.nickname}}
					<div class="appProgress ml5">
						<span class="val" data-stars="{{e.star_level}}" style="width:0%"></span>
					</div>
				</div>
				<div class="fc-grey fs12">{{e.comment_time}}</div>
			</div>
		</div>
		<div class="fc-grey pt5">{{e.content}}</div>
	</div>
{{/each}}
</script>
<!-- 商品评价 js arttemplate end -->

<!-- 相关推荐的 js arttemplate begin -->
<script type="text/html" id="recommendtpl">
{{each recommendlist as e i}}
	<li class="stockBox">
		<a href="{{e | productDetailURL}}" class="stockLink" data-id="{{e.product_id}}">
			<div class="stockImg wbox">
				<img src="{{e.micro_path}}" alt="" />
			</div>
			<div class="stockName">{{if e.is_feature}}<b>精选</b>{{else if e.is_new}}<b>新品</b>{{else if e.is_preferential}}<b>特价</b>{{/if}}{{e.product_name}}</div>
			<div class="stockPrice">
				{{if e.original_price && e.current_price < e.original_price}}
				<span class="fc-red fw-bold">¥{{e.current_price}}</span>
				<del class="block">¥{{e.original_price}}</del>
				{{else}}
				<span class="fc-red fw-bold">¥{{e.current_price}}</span>
				<del class="block white">→</del>
				{{/if}}
			</div>
		</a>
	</li>
{{/each}}
</script>
<!-- 相关推荐的 js arttemplate end -->

<script type="text/javascript">
var eid = "{$eid}", 					// 商家编号
	sid = "{$sid}", 					// 分店编号
	pid = "{$pinfo.product_id}",		// 查看评论的商品编号
	ptype = "{$pinfo.product_type}", 	// 商品类型
	nid = "{$pinfo.nav_id}", 			// 商品导航编号（获取同类商品推荐）
	original_price = "{$pinfo.original_price}", // 商品原价
	current_price = "{$pinfo.current_price}", 	// 商品现价
	onshelf = "{$pinfo.on_shelf}", 		// 商品是否上架
	webchatRequestURL = "{:U('WeMall/GuideChatRequest/initWebChat', '', '')}", // 请求聊天窗URL
	curpage = "{:U('WeMall/Product/productDetail', array('sid' => $sid), '')}?pid="+pid, // 当前位置（注意要带上商品参数）
	loginurl = "{:U('WeMall/GuestMall/login', array('sid' => $sid), '')}", // 登录地址
	recommendListURL = "{:U('WeMall/Product/recommendProduct', '', '')}",// 请求商品推荐地址
	commentjson = '{$commentlist}'; 	// 打开页面一屏commentjson信息
	
// SKU处理
var _skuId = "", 						// 点击选中准备购买的商品sku编号
	SkuArray = {$pinfo.skulist}, 		// sku数组，用来比对
	skuSizeArray = {$pinfo.sizelist}, 	// 用来初始化的尺码数组
	skuColorArray = {$pinfo.colorlist}, // 用来初始化的颜色数组
	colorStr = "", 						// 页面初始化时颜色DOM结构
	sizeStr = "", 						// 页面初始化时尺寸DOM结构
	totalCount = {$pinfo.skutotalnum}; 	// 该商品所有sku的总数量
	
// 定义图片预览变量，previewArr是预览数组
var previewArr = "{$pinfo.preview_images}".split("^"), // 图片预览数组
	previewStr = "", // 等待加载图片的htmlDOM结构
	iconStr = ""; // 点击切换的slider的.
// 商品数控制
var limitBuyCount = ~~$("#stockCount").data("limit");
	
// 页面初始化函数
$(function(){
	// 初始化价格显示
	$("#marketPrice, #skuPriceBox").html("￥" + current_price); // 写入现价
	if (parseFloat(original_price) > parseFloat(current_price)) {
		$(".wbox .fs14").removeClass("fn-hide").html("￥" + original_price); // 写入原价并划去
	}
	$("#stockCount").html(totalCount); // 弹层面板总库存多少
	
	sliderImageInit(); // 初始化横幅图片
	
	// 图文详情图片自适应全屏
	$("#tab-c1 img").each(function(i, e){
		$(this).css("width", "100%");
	});
	
	// 附加sku颜色数组
	Zepto.each(skuColorArray, function(i, e) {
		colorStr += '<b>' + e + '</b>';
	});
	$("#colorBox").append(colorStr);
	
	//附加sku尺码数组
	Zepto.each(skuSizeArray, function(i, e) {
		sizeStr += '<b>' + e + '</b>';
	});
	$("#sizeBox").append(sizeStr);
	
	// 获取商品SKU信息
	var skuFormatCount = $("#sizeBox").length + $("#colorBox").length;
	if (skuFormatCount == 0) {
		_skuId = SkuArray[0].id;
		// ~~利用符号转换成数字
		if (~~$("#stockCount").text() > 0) {
			$("#cartBtn").removeAttr("disabled");
		}
	}
	
	// 第一次直出渲染商品评论模板
	var commentlist = $.parseJSON(window.commentjson); // 解析页面的json数据（不管是带了反斜杠，还是没有反斜杠，都可以解析json数据） 
	var tmpl = template('productcommenttpl', commentlist.data); // 利用json数据渲染art模板引擎，返回渲染后的htmlDOM结构与数据
	var commentListObj = $('.appriseBox .cont'); 		// 抓取class为cont的div，定义为commentListObj对象
	if (tmpl == '{Template Error}') {
		tmpl = ""; // 置空tmpl
	}
	commentListObj.html(tmpl);							// 渲染成功就把模板渲染的信息写入
	$("#commentCount").html(commentlist.totalcount);	// 写入商品评论总数
	if (tmpl != "") {
		// 如果有评论，初始化评论的星级
		$(".appriseBox .cont .item").each(function(i,e){
			var stars = parseFloat($(e).find(".val").data("stars")); // 计算获得的星星
			$(e).find(".val").width((stars * 20).toFixed(1) + "%"); // 加宽span[class='val']的style宽度，默认0%一颗星都没有，精确到小数点后1位，与淘宝一样，最高5分
		});
	}
	
	// 为DOM结构绑定事件
	$("body").on("click", "#inserFav", function(){
		// 收藏
		var params = {
				sid : sid, 
				pid : pid
		}
		if (!$(this).hasClass("on")) {
			$.post("{:U('WeMall/CustomerRequest/addCollection', '', '')}", params, function(result){
				if (result.errCode == 0) {
					mobileAlert("收藏成功");
					$("#inserFav").addClass("on").text("已收藏");
				} else if (result.errCode == 20001) {
					window.location.href = loginurl+"?from="+curpage;
					return false;
				} else {
					mobileAlert(result.errMsg); // 弹出错误信息
					if (result.data.collected == 1) {
						$("#inserFav").addClass("on").text("已收藏"); // 收藏过的商品显示已收藏
					}
					return false;
				}
			},"json");
		} else {
			$.post("{:U('WeMall/CustomerRequest/deleteCollection', '', '')}", params, function(result){
				if (result.errCode == 0) {
					mobileAlert("已取消收藏");
					$("#inserFav").removeClass("on").text("收藏");
				} else if (result.errCode == 20001) {
					window.location.href = loginurl+"?from="+curpage;
					return false;
				} else {
					mobileAlert(result.errMsg); // 弹出错误信息
					return false;
				}
			},"json");
		}
	}).on("click", "#goOnShopping", function(e){
		// 继续购物按钮点击
		e.preventDefault();
		$(".popCartMsg").hide(); // 弹出的购物车提示框隐藏
		//window.location.reload(); // 修正选择sku后的弹层错误
		// 下面的方式修改，更软，页面也无需刷新
		$('html,body').css({
			"height": "auto",
			"overflow": "auto"
		});
	}).on("click", "#preCartBtn, #buyNowBtn", function(){
		// 加入购物车按钮
		if (onshelf != 1) {
			mobileAlert("该商品已下架");
			return false;
		}
		$("#buytype").val($(this).data("btype")); // 写入购买方式，0是正常加入购物车，1是直接购买（生成订单）
		salesActionType = "";
		$(".popSku").show();
		$("html,body").css({
			"height": "100%",
			"overflow": "hidden",
			"margin": "0"
		});
		if ($(".p_list").height() + 20 > $(window).height()) {
			$(".p_list").find(".sizeDl,.colorDl").css({
				"max-height": ($(window).height() * .5 - 100) + "px",
				"overflow": "auto"
			});
		}
	}).on("blur", ".d-plus .count", function(){
		$("#countError").empty();
		var count = ~~$(this).val(),
			maxBuyCount = ~~$("#stockCount").text();
		if (limitBuyCount) {
			// 限购获取库存和限购数量的最小值
			if (count > Math.min(limitBuyCount, maxBuyCount)) {
				$(this).val(Math.min(limitBuyCount, maxBuyCount));
				// 限购提示
				if (limitBuyCount < maxBuyCount) {
					$("#countError").html("该商品每人限购" + limitBuyCount + "件");
				}
				return false;
			}
		} else {
			// 未限购
			if (count > maxBuyCount) {
				$(this).val(maxBuyCount);
				return false;
			}
		}
		if (count < 1) {
			$(this).val("1"); // 数量最少也一件
		} else {
			$(this).val(count);
		}
	});
	
	// 相关推荐span事件（好像必须独立才能相应，直接连写只能用tap触发）
	$(".d-tab span").click(function(){
		// 切换商品图文详情和同类推荐span点击事件
		if ($(this).hasClass("on")) {
			return false; // 如果点击的是当前的页卡，直接return
		}
		$(".d-tab span").removeClass("on"); // 所有span全部切换成没有on
		$(this).addClass("on"); // 当前点击span增加class on
		var n = $(this).index() + 1; // 下标从0开始，下表+1取到第几个页卡展示
		$(".tab-c").hide(); // 页卡全部隐藏
		$("#tab-c" + n).show(); // 点击的页卡展示
		if (this.id == "getRecommend") {
			// 如果点击的是相关推荐页卡
			if ($("#tab-c2 ul li").length > 0) {
				return false; // 如果不是第一次点击，不用重复请求（页面只请求一次）
			}
			//var jsonurl = $(this).data("json"); // 请求json数据的地址
			
			// 定义同类推荐参数
			var params = {
					eid : eid, // 商家编号
					sid : sid, // 分店编号
					nid : nid, // 本商品的导航编号
					pid : pid  // 要获取同类的商品编号
			}
			// 请求同类商品推荐
			$.post(recommendListURL, params, function(result){
				if (result.errCode == 0) {
					var recommendListObj = $('#tab-c2 ul'); // 推荐列表对象
					// 渲染模板
					var tmpl = template('recommendtpl', result.data); // 利用json数据渲染art模板引擎，返回渲染后的htmlDOM结构与数据
					if (tmpl == '{Template Error}') {
						tmpl = ""; // 置空tmpl
					}
					recommendListObj.html(tmpl); // 渲染成功就把模板渲染的信息写入
				} else {
					mobileAlert('获取同类推荐失败，网络繁忙，请稍后再试！');
					return false;
				}
			}, "json");
		}
	});
	
	// SKU遮罩层边缘点击关闭
	$(".popSku").click(function(e){
		e.stopPropagation();
		if (e.target == this) {
			$(".popSku").hide();
			$("html,body").css({
				"height": "auto",
				"overflow": "auto",
				"margin": ""
			});
		}
	});
	
	// 弹层取消按钮点击
	$("#cancelCartBtn").click(function(){
		$(".popSku").hide();
		$("html,body").css({
			"height": "auto",
			"overflow": "auto",
			"margin": ""
		});
	});
	
	// 颜色尺码选择
	$("#sizeBox b, #colorBox b").click(function(){
		var _t = $(this);
		if (_t.hasClass("disabled")) {
			return false; // 无效点击直接返回
		}
		$("#countError").empty(); // 计算数量错误重置
		if (_t.hasClass("se")) {
			// 如果原来已经被选中，选中取消
			_t.removeClass("se");
			$("#cartBtn").attr("disabled", "disabled"); // 有颜色或尺码未选中，不能加入购物车
			$("#sizeBox b, #colorBox b").removeClass("disabled");
			if ($("#sizeBox b.se, #colorBox b.se").length == 0) {
				$("#stockCount").html(totalCount);
				//$("#skuPriceBox").html("￥" + _minPrice + "~" + _maxPrice);
				$("#skuPriceBox").html("￥" + price);
			} else {
				// $("#stockCount").parent().hide();
			}
			return false;
		}
		// 原来没有选中该颜色或尺码
		_t.siblings().removeClass("se"); // 移除周边其他色块选中状态
		_t.addClass("se"); // 自己增加选中状态
		if (_t.parent()[0].id == "sizeBox") {
			// 如果点击的是尺码
			var _size = _t.text(); 
			Zepto.each($("#colorBox b"), function(t, v) {
				var _tTag = $(v).text() + '-' + _size,
					existedSku = false; // 存在sku标记置为false
				Zepto.each(SkuArray, function(i, e) {
					if (e.tag == _tTag) {
						existedSku = true;
						if (e.count <= 0) {
							$(v).removeClass("se").addClass("disabled");
						} else {
							$(v).removeClass("disabled");
						}
					}
				});
				if (!existedSku) {
					$(v).removeClass("se").addClass("disabled");
				}
			});
		}
		if (_t.parent()[0].id == "colorBox") {
			// 如果点击的是颜色
			var _color = _t.text();
			Zepto.each($("#sizeBox b"), function(t, v) {
				var _tTag = _color + '-' + $(v).text(),
					existedSku = false;
				Zepto.each(SkuArray, function(i, e) {
					if (e.tag == _tTag) {
						existedSku = true;
						if (e.count <= 0) {
							$(v).removeClass("se").addClass("disabled");
						} else {
							$(v).removeClass("disabled");
						}
					}
				});
				if (!existedSku) {
					$(v).removeClass("se").addClass("disabled");
				}
			});
		}
		if (skuFormatCount == 2) {
			// 颜色尺码都有的商品
			if ($("#sizeBox .se").length > 0 && $("#colorBox .se").length > 0) {
				$("#stockCount").html(""); // 重置库存数量
				$(".d-plus .count").val(1); // 默认当前数量为1件
				var selected = $("#colorBox .se").text() + "-" + $("#sizeBox .se").text(); // 选中的sku规格为：颜色-尺码
				Zepto.each(SkuArray, function(i, e) {
					if (e.tag == selected) {
						// 找到这样的库存
						$("#stockCount").html(e.count); // 当前sku库存数量写入（count字段）
						//$("#skuPriceBox").html("￥" + e.price.toFixed(2)); // 写入当前sku价格
						$("#skuPriceBox").html("￥" + e.price); // 写入当前sku价格
						//$("#buyBtn").removeAttr("disabled"); 
						$("#cartBtn").removeAttr("disabled"); // 可以购买
						_skuId = e.id; // 选中的skuid
						return false;
					}
				});
			}
		} else {
			// 均码商品（尺码默认）
			if ($("#sizeBox .se").length > 0 || $("#colorBox .se").length > 0) {
				$("#stockCount").html("");
				$(".d-plus .count").val(1);
				var selected = $("#colorBox .se").text() + "-默认";
				Zepto.each(SkuArray, function(i, e) {
					if (e.tag == selected) {
						$("#stockCount").html(e.count);
						//$("#buyBtn").removeAttr("disabled");
						$("#cartBtn").removeAttr("disabled"); // 可以购买
						_skuId = e.id;
						return false;
					}
				});
			}
		}
	});
	
	// 购买数量加号点击后
	$(".d-plus .jia").click(function(){
		var countInput = $(this).parent().find(".count"), // 找到数量框
			count = ~~countInput.val(), // 数量框值取整
			maxBuyCount = ~~$("#stockCount").text(); // 库存数量作为最多能够买的数量
		if (limitBuyCount) {
			// 如果有限购（目前好像没有这种处理）
			if (count >= Math.min(limitBuyCount, maxBuyCount)) {
				if (limitBuyCount < maxBuyCount) {
					$("#countError").html("该商品每人限购" + limitBuyCount + "件");
				}
				return false;
			}
		} else {
			// 不考虑限购情况下，超过库存点击+号也不会再叠加
			if (count >= maxBuyCount) {
				return false;
			}
		}
		countInput.val(~~countInput.val() + 1); // 没有return false 情况下，数量+1
	});
	
	// 购买数量减号点击后
	$(".d-plus .jian").click(function(){
		$("#countError").empty(); // 清空统计数量错误
		var countInput = $(this).parent().find(".count");
		if (~~countInput.val() <= 1) return false; // 已经是1件了，点击减号也没反应
		countInput.val(~~countInput.val() - 1); // 否则数量减少（减少总是不会超过库存的）
	});
	
	// 加入购物车
	$("#cartBtn").click(function(){
		// 检测商品是否被下架
		if (onshelf != 1) {
			mobileAlert("该商品已下架");
			return false;
		}
		var curtype = $("#buytype").val(); // 获取购买方式
		// 准备参数
		var params = {
				sid : sid,
				pid : pid,
				ptype : ptype,
				skuid : _skuId,
				count : $(".d-plus .count").val()
		}
		$.post("{:U('WeMall/CartRequest/addCart', '', '')}", params, function(result){
			if (result.errCode == 0) {
				if (curtype == 0) {
					// 正常加入购物车
					$(".popSku").hide();
					$(".popCartMsg").show();
				} else {
					// 立即购买的，加入完了直接跳到预订单页面
					var stockArray = []; // 准备打包的商品库存数据
					var stockMsg = {
							"storeId": sid, 				// 预结算的购物车的分店编号（当前选中结算的购物车所属的商家编号，并不是用户所在的商家编号）
							"storeName": "{$sinfo.subbranch_name}", 		// 预结算购物车的分店名称
							"stockList": [], 				// 将要结算的cartidlist（勾选方式）
							"delivery": {$pinfo.logistics}, // 0是默认快递，1是到店自提
					}
					var stockItem = {
						"subbranch_id": sid, 							// 该商品所在分店编号
						"img": result.data.micro_path, 					// 商品图片路径
						"name": result.data.product_name, 				// 商品图片名称
						"id": sid, 										// 商品所属分店编号
						"cartId": result.data.cart_id, 					// 购物车编号
						"product_id": pid, 								// 商品编号(id)
						"product_number": result.data.product_number, 	// 商品编号(吊牌编号)
						"skuId": result.data.sub_sku_id, 				// SKU的编号
						"size": result.data.product_size, 				// 尺码
						"color": (result.data.product_color == "" || typeof result.data.product_color == "undefined") ? "默认" : result.data.product_color, 			// 颜色
						"count": result.data.amount, 					// 购物车该SKU的数量
						"price": result.data.current_price, 			// 价格
					};
					stockMsg.stockList.push(stockItem); // 压栈商品信息
					stockArray.push(stockMsg); // 压栈stockMsg
					sessionStorage.stockInfo = JSON.stringify(stockArray); // 将字符串存入sessionStorage的stockInfo中（跳转的时候可以不过购物车）
					window.location.href = "{:U('WeMall/Order/preOrder', array('sid' => $sid), '')}";
				}
			} else if (result.errCode == 20001) {
				window.location.href = loginurl+"?from="+curpage;
				return false;
			} else {
				mobileAlert(result.errMsg); // 弹出错误信息
				return false;
			}
		}, "json");
	});
	
	// 悬浮按钮聊天窗
	$("#gotoTalk").click(function(){
		var param = { 
				sid : sid, // 分店信息
		}
		$.post(webchatRequestURL, param, function(result){
			if (result.errCode == 0) {
				location.href = result.data.chaturl; // 跳转顾客与导购聊天窗页面
			} else if (result.errCode == 20001) {
				window.location.href = loginurl+"?from="+curpage;
				return false;
			} else {
				mobileAlert(result.errMsg); // 弹出错误信息
				return false;
			}
		}, "json");
	});
	
});

// 横幅图片初始化函数
function sliderImageInit() {
	// 将预览图片数组中的每个图片信息加载到main_image中，Zepto.each中i是循环值，e是对象值
	Zepto.each(previewArr, function(i, e) {
		previewStr += '<li style="width:' + document.body.clientWidth + 'px;"><img src="' + e + '?imageView2/2/h/640"></li>';
		iconStr += '<a href="#" class="">' + i + '</a>';
	});
	$('.main_image ul').append(previewStr); // 附加图片内容
	if (previewArr.length > 1) {
		$('.flicking_con').append(iconStr);
		$('.flicking_con a:eq(0)').addClass("on");
		$('.flicking_con').css("margin-left", "-" + $('.flicking_con a').length * 7.5 + "px");
		$.mggScrollImg('.main_image ul', {
			loop: true, //循环切换
			auto: true, //自动切换
			callback: function(ind) { 
				// 回调函数，这里传过来的是索引值
				$('.flicking_con a').removeClass("on");
				$('.flicking_con a:eq(' + ind + ')').addClass("on");
			}
		});
	}
}
</script>
</body>
</html>