@charset "utf-8";
/*初始化*/
body{ background:#f4f4f4;color:#333;font-weight: 400;font-family: "Microsoft Yahei", tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif;font-size: 14px;line-height: 1.27;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
img { border:0; }
a,a:focus,a:link,a:active,a:visited{ color:#333; text-decoration:none;outline: none; }
img { border:none; }
ul, li { list-style:none; }

table{border-collapse:collapse;border-spacing:0}
em,i{font-style:normal}
strong,b{font-weight:700}
img{border:0;-ms-interpolation-mode:bicubic}
input,img,button{vertical-align:middle;}
input,select,textarea{font-size: 14px;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none;border:0;border-radius:0;background-color:white;}
textarea:focus{outline:0}
input{outline: 0;}
img.size15{width: 16px;height: 16px;}
img.size20{width: 20px;height: 20px;}
img.size30{width: 30px;height: 30px;}
img.size40{width: 40px;height: 40px;}
img.size43{width: 44px;height: 44px;}
img.size50{width: 50px;height: 50px;}
img.size80{width: 80px;height: 80px;}
img.round{border-radius: 50%;}
input[type="search"]{-webkit-appearance:none;}
input::-webkit-search-cancel-button {display: none;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
a,label,input{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
del{color: #999;font-size: 12px;}

/*左右浮动*/
.fl { float:left; }
.fr { float:right; }

/*自提对齐*/
.tx-c{text-align: center;}
.tx-l{text-align: left;}
.tx-r{text-align: right;}

/*常用行距*/
.lh20{ line-height:20px;}
.lh22{ line-height:22px;}
.lh24{ line-height:24px;}
.lh30{ line-height:30px;}

/*常用字体大小*/
.fs12{ font-size:12px;}
.fs13{ font-size:13px;}
.fs14{ font-size:14px;}
.fs15{ font-size:15px;}
.fs16{ font-size:16px;}
.fs18{ font-size:18px;}
.fs20{ font-size:20px;}
.fs24{ font-size:24px;}
.fs26{ font-size:26px;}
.fs28{ font-size:28px;}
.fs30{ font-size:30px;}

/*常用边距*/
.ml5{ margin-left:5px;}
.mr5{margin-right: 5px;}
.mt5{margin-top: 5px;}
.ml10{ margin-left:10px;}
.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mb10{ margin-bottom:10px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
/*常用填充*/
.p5 {padding:5px;}
.p10 {padding:10px;}
.p20 {padding:20px;}
.pl5{ padding-left:5px;}
.pr5{padding-right: 5px;}
.pt5{padding-top: 5px;}
.pb5{padding-bottom: 5px;}
.pl10{ padding-left:10px;}
.pl30{ padding-left:30px;}
.pr10{ padding-right:10px;}
.pt10{ padding-top:10px;}
.pt15{ padding-top:15px;}
.pt20{ padding-top:20px;}
.pb10{ padding-bottom:10px;}
.pb15{ padding-bottom:15px;}
.pb20{ padding-bottom:20px;}
.pb40{ padding-bottom:40px;}

/*常用边框类型*/
.bde4{ border:1px solid #e4e4e4;}
.bde4-b{border-bottom: 1px solid #e4e4e4;}
.bde4-t{border-top: 1px solid #e4e4e4;}

/*常用背景色*/
.bc{background-color: #fff;}
/*字体颜色*/
.fcf3b{ color:#e04241;}
.fc-red, a.fc-red{ color:#e04241; }
.fc-grey{ color: #999; }
.fc-white{ color: #fff; }
.fc-orange, a.fc-orange{ color:#F60; }

/*弹性拉伸*/
.wbox{display: -webkit-box;}
.wbox-1{-webkit-box-flex: 1;display: block;}
.wbox-1 > a{display: block;width: 100%;height: 100%;}

/*其它======*/
.fw-bold { font-weight:bold;}
.fw-nom {font-weight:normal; font-style: normal;}
.fn-tip{color: #999;font-size: 13px;}
.fn-hide{display: none;}
.fn-error{color: #e04241;}
.fn-center{padding:0 10px;}
.block{display: block;}

/* Add by lt */
.w600 {width: 600px}
.w640 {width: 640px}
.tc {text-align: center;}
.c-9 {color:#999;}
.c-wt {color:#FFFFFF;}
.bg-wt {background: #fff;}
.cell {display: table-cell; vertical-align: middle;}
.trans {transition:all .35s; -webkit-transition:all .35s;}
.abs {position: absolute;}.rel {position: relative;}
.dib {display: inline-block;}
.bdr4 {border-radius: 4px;}
.no-rdu { border-radius: 0 !important;}
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
/* end */

.ft-cart {height:55px; background:#fff;overflow:hidden; width:100%;box-sizing: border-box;padding: 0 10px; position:fixed; bottom:0px; left:0px; z-index:10; border-top:1px #ddd solid;}
.ft-cart .l_b{height:55px; position:absolute; left:15px; top:0px;line-height:55px; overflow:hidden;}
.ft-cart .r_b{ height: 39px;border-radius: 3px;text-align: center;line-height: 39px;background:#e04241;color: #fff;font-family: Microsoft Yahei; display:block; padding:0px 15px; position:absolute; right:15px; top:8px;}
.ft-cart .r_b[disabled]{background:#dedede;color: #666;}


/*customer.css*/
.customerChannel{background: #fff;border-bottom: 1px #e4e4e4 solid;border-top: 1px #e4e4e4 solid;margin-top: 20px;}
.customerChannel .item{display: block;position: relative;width: 100%;}
.customerChannel .icon{width: 60px;text-align: center;}
.customerChannel .icon img{margin-top: 10px;width: 26px;height: 26px;}
.customerChannel .tit{height: 45px;line-height: 45px;border-bottom: 1px #e4e4e4 solid;}
.customerChannel .item:last-child .tit{border: none;}

.swiper-containter{ width:100%; position:relative;}
.flicking_con{position:absolute;left:50%;z-index:9;height:21px;top: 295px;}
.flicking_con a{float:left;width:7px;height:7px;margin:0 7px 0 0;display:block;overflow: hidden;background: #999;border-radius: 8px;text-indent: 99px;opacity: 0.6;}
.flicking_con a.on{background:#e04241;}
.main_image{width:100%;height:320px;overflow:hidden;margin:0 auto;background: #fff;}
.main_image ul{width:9999px;clear:both;}
.main_image li{float:left;overflow:hidden;text-align:center;}
.main_image li img{max-width:100%;height:320px;margin: 0 auto;display: block;}
.flicking_con.sm{top: 175px;}
.main_image.sm{height: 200px;}
.main_image.sm  li img{max-height: 200px;}

.hy-index-top{ width:100%; background:#fff; margin-bottom:10px; position:relative; padding-bottom:45px;}
.hy-index-top .bg{ width:100%; height:100%;}
.hy-index-top .bg img{max-width: 100%;max-height: 260px;}
.hy-index-top .logo{ position:absolute; left:10px; bottom:20px; z-index:3; border:1px #ccc solid;}
.hy-index-top .name{ position:absolute; left:0px; bottom:45px; font-size:15px; color:#fff; z-index:2; height:30px; width:100%;}
.hy-index-top .name i{ position:absolute; left:0px; top:0px; width:100%; height:30px; z-index:1; background:#000;opacity: 0.5;filter:alpha(Opacity=50);-moz-opacity:50;}
.hy-index-top .name span{position:absolute; left:80px; top:0px; z-index:2; line-height:30px;}
.hy-index-top .tail{ position:absolute; right:10px; width:100%; bottom:5px; }
.hy-index-top .tail ul{display: -webkit-box;padding-left:100px;}
.hy-index-top .tail ul li{ -webkit-box-flex: 1; height:30px;  width:100%; text-align:center; display:block; line-height:15px; font-size:12px; color:#999; border-right:1px #c8c7cc solid;}
.hy-index-top .tail ul li a{display: block;width: 100%;}
.hy-index-top .tail ul li span{ font-size:17px; color:#333;}
.hy-index-top .tail ul li:last-child{ border-right:0px;}

.products-list{padding:0px 10px;}
.products-list ul{overflow: hidden;width: 100%;}
.products-list .smt{ margin:0px 5px; position:relative; height:35px; text-align:center;}
.products-list .smt span{ margin:0px auto; background:#eee; padding:0px 15px; line-height:35px; position:relative; font-size:16px; color:#444; z-index:2; display:inline-block;}
.products-list .smt i{position:absolute; left:0px; top:16px; width:100%; height:1px; z-index:1; background:#ccc;}
.products-list .mask{width:50%;float:left;margin-bottom:10px;position: relative;}
.products-list .item-list{margin: 0 5px}
.products-list .item-list .img {width:100%;}
.products-list .item-list .img a{line-height: 160px;display: block;text-align: center;width: 100%;height: 160px;background: #fff;}
.products-list .item-list .img img{vertical-align: middle;max-width:100%;max-height: 100%;}
.products-list .des{padding:10px;background-color: #fff; position:relative;}
.products-list .des .tit{height:34px;overflow: hidden;line-height: 17px;margin-bottom: 7px;}
.products-list .des .tit b{height:15px; line-height:15px; background:#e04241; color:#fff; padding:0px 5px; font-weight:normal; margin-right:5px;}
.products-list .des .other-info{line-height: 16px;font-weight:bold;color:#e04241}
.products-list .des .price{color:#666; font-weight: normal;}
.products-list .des .more{ position:absolute; width:30px;background: url(../images/shop_ico1.png) no-repeat  center center;-webkit-background-size:30px 15px; height:15px; right:10px; bottom:10px;}
.products-list .cover{display: none;position: absolute;width: 100%;height: 100%;top: 0;left: 0;background: rgba(255,255,255,0.7);}
.products-list .cover .fav{float: left;position: absolute;top: 35%;width: 62px;padding-top: 42px;left: 50%;margin-left: -31px;background: url(../images/fav.png) center top no-repeat;background-size: 38px 34px;text-align: center;}
.products-list .cover .fav.faved{background-image: url(../images/faved.png);}

.s-options{width:100%;height: 40px;}
.s-options .s-items{ border-bottom: 1px solid #d7d6d6;background-color: #fff;position: fixed;top: 0;left: 0;z-index: 99;width: 100%;display: -webkit-box;}
.s-options .s-items.static{position: relative;}
.s-options .s-items li{line-height: 24px;width: 50%; -webkit-box-flex:1;position: relative;}
.s-options .s-items li a{padding: 8px 0;text-align: center;position: relative;display: block;width: 100%;}
.s-options .s-items li a.sort:after{content: ' ';position: absolute;top: 18px;right: 15px;width: 0;height: 0;border-left: solid 5px transparent;border-right: solid 5px transparent;}
.s-options .s-items li a.news:after{content: ' ';width: 4px;height: 4px;background: #e04241;border-radius: 4px;position: absolute;top: 10px;right: 50%;margin-right: -28px;}
.s-options .s-items li a.down:after{border-top: solid 6px #e04241;}
.s-options .s-items li a.up:after{border-bottom: solid 6px #e04241;}
.s-options .s-items li a.up i:after{content: "(由低到高)";}
.s-options .s-items li a.down i:after{content: "(由高到低)";}
.s-options .s-items li a span{display: block;font-size: 16px;}
.s-options .s-items li a.curr{color: #e04241;}

/*修正华为手机hover时，下划线不显示的BUG*/
.s-options.s-options-hover .s-items li a.curr{color: #e04241; border-bottom:3px solid #e04241; margin-bottom: -1px;}

.s-options .s-items li hr{background-color: #e04241;border: none;height: 3px;display: none;position: absolute;bottom: -1px;width: 100%;}
.s-options .s-items li a.curr ~ hr{display: block;}

.popSku,.popCartMsg, .qrCodeToWx, .popLoading{position: fixed;width: 100%;height: 100%;padding: 0 15px;box-sizing:border-box;display: -webkit-box;-webkit-box-align: center;-webkit-box-pack: center;z-index:99;background: rgba(0,0,0,0.6);top:0;left: 0;}
.popSku .p_list, .popCartMsg .success, .qrCodeToWx .cont{background: #fff;padding: 10px;border-radius: 6px;box-sizing: border-box;width: 100%;}
.popLoading .cont{background: rgba(0,0,0,0.6);width: 50%;color: #fff;text-align: center;padding: 20px;border-radius: 8px;}
@-webkit-keyframes loadingAmt{
0%   {-webkit-transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);}
}
.popLoading .loadingAmt .img{width: 40px;height: 40px;-webkit-animation: loadingAmt 0.5s linear infinite;margin: 0 auto;padding: 5px;border-radius: 50%;background: -webkit-linear-gradient(#444,#eee);}
.popLoading .loadingAmt .img2{width: 40px;height: 40px;border-radius: 50%;background: #2a2a2a;}
.p_list dl{ border-top:1px #e4e4e4 solid; width:100%; display:-webkit-box; zoom:1; line-height:29px; padding:5px 0px;}
.p_list dl:first-child{border: none;}
.p_list dl dt{width:50px; font-size:13px; color:#222; line-height:30px; margin-top:5px;}
.p_list dl dd{-webkit-box-flex: 1;}
.p_list dl dd b{padding: 1px 11px;vertical-align: middle;margin: 5px 6px 5px 0;text-align: center;border: 1px #c5c8cf solid;height: 26px;line-height: 26px;background-color: #fff;display: inline-block;border-radius: 3px; font-size:13px; font-weight:normal;}
/* .p_list dl dd b.se{border:2px solid #e04241; color:#e04241;height: 26px;line-height: 26px;padding: 0 10px;} */
.p_list dl dd b.se{border:2px solid #F60; color:#F60;height: 26px;line-height: 26px;padding: 0 10px;}
.p_list dl dd b.disabled{background: #ddd;color: #999;}
.p_list dl:last-child{border: none;line-height: 20px;padding: 0;}
.d-plus{ height:29px; line-height:29px;}
.d-plus  button{ width:29px; height:29px; float:left; border:0px; overflow:hidden; text-indent:-9999px;}
.d-plus  button.jia{background: url(../images/button-jia.png) no-repeat  center center;-webkit-background-size:29px 29px;}
.d-plus  button.jian{background: url(../images/button-jian.png) no-repeat  center center;-webkit-background-size:29px 29px;}
.d-plus  input{ width:50px; height:27px; text-align:center; border-bottom:1px #c8c7cc solid; border-top:1px #c8c7cc solid; float:left;}
.popCartMsg .success{line-height: 24px;padding: 10px 20px;}

.p_list2 dl{  width:100%; display:-webkit-box; zoom:1; line-height:29px; padding:5px 0px;}
.p_list2 dl dt{width:50px; font-size:13px; color:#222; line-height:30px;}
.p_list2 dl dd{-webkit-box-flex: 1;}
.p_list2 dl dd .tit{ width:100%; line-height:20px; position:relative; height:40px; display:inline-block;}
.p_list2 dl dd .tit:after{border: #656565 solid;border-width:0 0 1px 1px ;-webkit-transform: rotate(-135deg);content: ' ';position: absolute;top: 15px;right: 5px;width: 12px;height: 12px;}
.d-btn1{width:100%;height: 27px;border-radius: 3px;text-align: center;line-height: 27px;font-size: 15px;border:1px #dddddd solid;color: #e04241;font-family: Microsoft Yahei; display:block; margin:0px 5px;-webkit-box-flex: 1;}
.d-btn1 img{ margin-top:-3px;}

.products-cont .d-tab{ height:18px;padding: 10px 0;display: -webkit-box;border-bottom:1px solid #E0E0E0;margin-bottom: 15px;}
.products-cont .d-tab span{-webkit-box-flex: 1; height:18px; display:block; text-align:center; border-right:1px solid #E0E0E0; line-height:18px;}
.products-cont .d-tab span.on{ color:#e04241}

.d-hot-list{}
.d-hot-list ul{ width:100%; zoom:1; overflow:hidden; padding-bottom:10px;}
.d-hot-list ul li{ width:50%; float:left; margin-bottom:15px;}
.d-hot-list ul li a{ display:block; border:1px #c9c8cd solid; padding-bottom:5px;}
.d-hot-list ul li a .p{height: 150px;max-width: 100%; display:block;}
.d-hot-list ul li a .t{ line-height:15px; margin-top:5px; height:30px; overflow:hidden; padding:0 5px;}
.d-hot-list ul li a .jg{ margin-top:5px; padding-left:5px;}
.d-hot-list ul li a .jg b{ color:#f63723;}
.d-hot-list ul li a .jg del{ color:#999; margin-left:3px;}
.d-hot-list ul li:nth-child(2n+1) a{ margin-right:7px;}
.d-hot-list ul li:nth-child(2n+2) a{ margin-left:7px;}

.products-cont, .products-msg{ background:#fff; border-bottom:1px #e4e4e4 solid;border-top:1px #e4e4e4 solid;}
.products-msg{padding: 10px;}

.h56{ height:56px;}
.cart-list{background:#fff;border-top:1px #e4e4e4 solid;position: relative;margin-bottom: 20px;border-bottom: solid 1px #e4e4e4;}
.cart-list .storeMsg{line-height: 30px;padding: 5px 0 5px 50px;font-size: 16px;border-bottom: solid 1px #e4e4e4;}
.cart-list .storeMsg .edit{color: #e04241;padding-right: 15px;}
.cart-list dl{padding:10px 0px 0px;}
.cart-list dl dt{width:50px; height:42px;position:relative;}
.cart-list dl dt .yes, .storeMsg .yes{ width:18px; height:18px;background: url(../images/uncheck@2x.png) no-repeat  center center;-webkit-background-size:18px 18px; position:absolute; left:13px; top:13px; }
.cart-list dl dt .yes:checked, .storeMsg .yes:checked{background-image: url(../images/checked@2x.png);}
.cart-list dl dd{border-bottom:1px #e4e4e4 solid;}
.cart-list dl dd .detail{padding: 0 15px 5px 5px;line-height: 20px;}
.cart-list dl dd .detail .name{max-height: 40px;overflow: hidden;text-overflow:ellipsis;word-break:break-all;}
.cart-list dl .action{padding-right: 15px;text-align: right;}
.cart-list dl:last-child dd{border: none;}
.cart-list dl dd .remove{display: block;width: 45px;height: 28px;float: right;background: url(../images/removeCart.png);display: none;}

.cart-product-1{margin-right:15px; display: block;}
.cart-product-1 .name{ width:100%;line-height:20px; overflow:hidden;max-height: 20px;text-overflow:ellipsis;display: block;}
.cart-product-1 .tit{ color:#8e8e93;width:100%; line-height:20px; overflow:hidden;}
.cart-product-1 .jg{ color:#e04241; font-weight:bold;}

.addrEdit-list{background:#fff;width: calc(100% - 15px); border-bottom:1px #ccc solid;border-top:1px #ccc solid; padding-left:15px; margin-bottom:10px;}
.addrEdit-list dl{display: table;width: 100%; position:relative;border-bottom:1px #c8c7cc solid;}
.addrEdit-list dl dt{display: table-cell;width:75px; height:42px; text-align:left; position:relative; line-height:42px;}
.addrEdit-list dl dd{-webkit-box-flex: 1; position:relative; vertical-align:top;display: table-cell;}
.addrEdit-list dl:last-child { border-bottom:0px;}
.addrEdit-list .addrDetail{width: 100%;height: 60px;line-height: 30px;font-size: 14px;padding: 5px 0;}

.addr-list{background:#fff;border-top:1px #ccc solid;}
.addr-list dl{width: 100%; padding:15px 0px; position:relative;border-bottom:1px #c8c7cc solid;display:table;}
.addr-list dl dd{display: table-cell; position:relative; vertical-align:top;padding:0 50px 0 0; line-height:20px; font-size:13px;}
a.newAddress{line-height: 40px;color: #e04241;display: block;background: #fff;margin: 20px 0;text-align: center;}
.addr-list dl dd .edit{ position:absolute; right:10px; width:30px; height:25px;top: 50%; margin-top:-17px;background: url(../images/addrEdit.png);background-size: 100% 100%;}
.addr-list dl dt{display: table-cell;width:50px; text-align:right; position:relative;}
.addr-list dl dt .yes{position: absolute;left: 13px;top: 20px;}
.addr-list dl dt .yes:checked{background-image: url(../images/checked@2x.png);}

input[type=radio],input[type=checkbox]{width: 18px;height: 18px;background: url(../images/uncheck@2x.png) no-repeat center center;-webkit-background-size: 18px 18px;}
input[type=radio]:checked,input[type=checkbox]:checked{background-image: url(../images/checked@2x.png);}

.regiona1{ width:100%; height:42px;position: relative;background: #fff;}
.regiona1 .sel{ line-height:42px; height:42px; width:100%; color:#666;}
.regiona1 .sel option{ height:40px; float:left;}
.regiona1 a{ float:left; width:100%;}
.regiona1.on:after{border-width:1px 0px 0px 1px; top:11px;}

.input-box{ height:42px; line-height:42px;padding-left:5px;}
.input-box input{ border:0px;  background:none; height:42px; float:left; width:100%; margin:0px;}

.dg_pic{ width:50px; height:50px;border-radius: 50px; overflow:hidden; }

.dg-list{background:#fff; border-bottom:1px #ccc solid;border-top:1px #ccc solid;}
.dg-list dl{display: table;width: 100%; padding:15px 0px; position:relative;border-bottom:1px #c8c7cc solid; }
.dg-list dl dt{display: table-cell;width:50px; text-align:right; position:relative; padding:8px 10px 0;}
.dg-list dl dd .yes{ width:50px; height:29px;background: url(../images/xz_2.png) no-repeat  center center;-webkit-background-size:50px 29px; position:absolute; right:13px; top:13px; }
.dg-list dl dd .yes:checked{background-image: url(../images/xz_1.png);}
.dg-list dl dd{-webkit-box-flex: 1; position:relative; vertical-align:top;display: table-cell;padding-right:20px; line-height:25px;}
.dg-list dl:last-child{ border-bottom:0px;}

.stroe_contant{ background:#5e6b85; padding:15px; color:#fff;}
.stroe_contant h4{ font-size:16px; line-height:20px; width:100%; font-weight:normal;}
.stroe_contant ul li{ width:50%; line-height:20px; display:inline-block; float:left;}

.mem_list3{ background:#fff; margin:20px 0px; border-bottom:1px #ccc solid;border-top:1px #ccc solid;padding-left: 10px;}
.mem_list3 dl{ display:-webkit-box; zoom:1; line-height:29px; padding:10px 10px;border-bottom:1px #ccc solid;}
.mem_list3 dl:last-child{ border-bottom:0px;}
.mem_list3 dl dt{width:50px; font-size:13px; color:#222; line-height:30px;}
.mem_list3 dl dd{-webkit-box-flex: 1;}
.mem_list3 dl dd .tit{ width:100%; line-height:20px; position:relative;padding-top: 9px; display:inline-block;}
.mem_list3 dl dd .tit:after{border: #656565 solid;border-width:0 0 1px 1px ;-webkit-transform: rotate(-135deg);content: ' ';position: absolute;top: 13px;right: 5px;width: 12px;height: 12px;}

.loading{width: 100%;text-align: center;position: absolute;top: 40%;left: 0;color: #999;contain:"../images/loading.gif";}
.loading-bottom{line-height: 24px;text-align: center;color: #999;margin-bottom: 20px;}

.category{ padding:0px 10px;}
.category ul li{ border-bottom:1px #d9d9d9 solid; line-height:44px; height:44px; font-size:16px; color:#666}
.category ul li a{ width:100%; display:inline-block; font-size:16px; color:#666}
.category ul li a:hover,.category ul li a:active{background: url(../images/yes.png) no-repeat  right center;-webkit-background-size:25px 25px; color:#222; text-decoration:none;}

.ma-box{margin:0 15px;position:fixed;top:40%;left:0;text-align:center;background:rgba(0,0,0,0.7);z-index:9999;padding:10px;line-height:20px;color:#fff;border-radius:6px;font-size:15px}
.ma-box.toast{padding: 15px 20px;background: rgba(0,0,0,0.8);text-align: left;margin: 0 50px;}
.ma-box-back{position: fixed;z-index: 9998;top: 0;left: 0;width: 100%;height: 100%;background:rgba(0,0,0,0.5);}

.products-cont .discrip{text-align: left;padding-bottom: 20px;}
.discrip img{max-width: 100%;}

.shop-items{ margin:10px; background:#fff; height:40px; line-height:40px;border-radius:3px;}
.shop-items span{position: relative; width:20%; text-align:center; float:left; color:#8e8e93; font-size:13px; cursor:pointer;}
.shop-items span.curr{ color:#e04241;}
.shop-items span.curr.down:after{
	content: '';
	width: 0px;height: 0px;
	border-left: solid 4px transparent;
	border-right: solid 4px transparent;
	border-top: solid 8px #e04241;
	position: absolute;
	top: 14px;right: 8px;
}
.shop-items span.curr.down.up:after{
	border-top: none;
	border-bottom: solid 8px #e04241;
}

.shop-list1{background:#fff;padding:0px 10px; margin:10px;border-radius:3px;}
.shop-list1 dl{display: table;width: 100%;  position:relative; padding-top:15px;border-bottom:1px #dedfdf solid;padding-bottom:15px; }
.shop-list1 dl dt{ width:85px;display: table-cell;}
.shop-list1 dl dd{-webkit-box-flex: 1; position:relative; vertical-align:top;display: table-cell;}
.shop-list1 dl dt .p{width:80px; height:80px; border:1px #e3e3e5 solid; display:inline-block;}
.shop-list1 dl:last-child{ border-bottom:0px;padding: 10px 0;}
.shop-product-1{padding-left:10px;height: 82px;display: block;}
.shop-product-1 .name{ width:100%; font-size:15px;line-height:20px; overflow:hidden;}
.shop-product-1 .tit{ color:#8e8e93; font-size:13px; width:100%; line-height:20px; overflow:hidden;}
.shop-product-1 .jg2{ color:#e04241; font-weight:bold;}

.pjWrap b{display: block;float: left;width: 30px;height: 30px;background:url(../images/pj_ico2.png);background-size: 100% 100%;margin-left: 5px;cursor: pointer;}
.pjWrap b.ac{background-image: url(../images/pj_ico1.png);}

.myGuide{text-indent: 10px;line-height: 30px;}
#talkCover{width: 100%;height: 100%;position: fixed;top: 0;left: 0;z-index: 999;background: url(../images/talk-cover.png) center center no-repeat;background-size: 100% auto;}
#talkCover .goto, #talkCover .cancel{width: 126px;height: 44px;background: url(../images/cover-goto.png) no-repeat;background-size: 100% 100%;position: absolute;top: 48%;left: 50%;margin-left: -63px;}
#talkCover .cancel{background-image: url(../images/cover-cancel.png);top: 65%;}

.search-content{padding: 15px;background: #ddd;}
.search-content .input-select{width: 100%;position: relative;}
.search-content .input-select .input{box-sizing: border-box;width: 100%;border-radius: 4px;height:32px;line-height: 24px;color: #333;border: solid 1px #ddd;padding:4px 0 4px 32px;}
.search-content .input-select .submit{border-radius: 4px 0 0 4px;border:solid 1px #fff;position: absolute;left: 1px;top: 1px;width: 30px;height: 30px;background: url(../images/btn_search.png) center center no-repeat;background-size: 90% 90%;}

.mobilePrompt{background: rgba(0,0,0,.6);width: 100%;height: 100%;position: fixed;top: 0;left: 0;z-index: 999;display: none;}
.mobilePrompt .box{background: #fff;border: solid 1px #ccc;border-radius: 4px;width: 90%;margin: 45% auto;padding: 10px 0;line-height: 24px;}
.mobilePrompt .item{padding: 5px;}
.mobilePrompt .item .name{display: block;float: left;width: 80px;text-align: right;height: 24px;}
.mobilePrompt .newPrice{border: solid 1px #ccc;width: 160px;height: 24px;}
.mobilePrompt .button{padding: 3px 10px;margin-right: 20px;}
.mobilePrompt .changeBtn{background: #e04241;color: #fff;margin-right: 30px;}
.mobilePrompt .comment{width: 100%;height: 80px;border: solid 1px #ddd;padding: 4px;box-sizing:border-box;}

.orderList{background: #fff;border-bottom: 1px #ccc solid;border-top: 1px #ccc solid;padding-left: 15px;margin-bottom: 10px;}
.orderList .tit{height: 38px;line-height: 38px;position: relative;display: block;}
.orderList .tit .status{float: right;color: #e04241;padding-right: 15px;}
.orderList .orderItem, .orderList .action{padding: 5px 15px 5px 0;border-top: solid 1px #e4e4e4;}
.orderList .orderItem .msg{padding:0 5px;line-height: 20px;}
.orderList .action{overflow: hidden;line-height: 32px; }

.orderMsg{padding:0 15px 45px;}
.orderMsg section{border-bottom: solid 1px #e4e4e4;padding: 5px 0;}
.orderMsg .item{display: -webkit-box;line-height: 28px;width: 100%;}
.orderMsg .item a.stock{display:block;width: 100%;overflow: hidden;}
.orderMsg .item .name{width: 80px;color: #666;}
.orderMsg .item .action{padding-left: 5px;color: #e04241;display: inline-block;}
.orderMsg .msg{-webkit-box-flex:1;}
.orderMsg a.stock .name img{width: 65px;height: 65px;}
.orderMsg a.stock .msg{line-height: 22px;}
.orderMsg a.stock .stockTitle{word-break:break-all;max-height: 40px;overflow: hidden;}
.orderMsg .expressItem{padding-left: 10px;line-height: 18px;}
.orderMsg .expressItem .time{color: #666;padding-top: 5px;}
.orderMsg .expressItem .msg{padding-left: 10px;}

/*改版*/
.posterBox{height: 130px;position: relative;background-position: center center;background-repeat: no-repeat;background-size: 100% auto;}
.posterBox .poster{width: 100%;height: 130px;}
.posterBox .wbox{padding: 5px 10px;width: 100%;background:url(../images/gradientLine.png) -1px repeat-x;position: absolute;bottom: 0;left: 0;box-sizing:border-box;}
.posterBox .logo{width: 60px;height: 60px;border-radius: 4px;margin-right: 5px;}
.posterBox .name{padding-top: 20px;font-size: 16px;}
.posterBox .attention .btn{background: transparent;color: #fff;margin-top: 26px;}

/* .blackFooter{background: #332e36;padding: 10px;margin-top: 15px;} */
.blackFooter{background: #000;padding: 10px;margin-top: 15px;}
.blackFooter img{border-radius: 4px;}
.blackFooter .storeDetail{background: transparent;color: #fff;padding: 5px 10px;margin-top: 5px;}
.blackFooter .footer{padding: 10px 10px 30px;border-top: solid 1px #444;}
.blackFooter .footer a{color: #ccc;}
/*菜单*/
/*.storeMenu .menu{display: -webkit-box;border-bottom: solid 1px #e4e4e4;background: #fff;}
.storeMenu .menu li{-webkit-box-flex:1;}
.storeMenu .menu li a{display: block;width: 100%;text-align: center;line-height: 20px;padding: 10px 0;}
.storeMenu .menu li a span{display: block;border-right: solid 1px #e4e4e4;font-size: 16px;}
.storeMenu .menu li a.curr{color: #e04241;}*/
/*特价新品*/
.tagsLinkBox{margin: 10px 10px 20px;border: solid 1px #e4e4e4;background: #fff;}
.tagsLinkBox .item{height: 40px;line-height: 40px;font-size: 15px;border-right: solid 1px #e4e4e4;text-align: center;}
.tagsLinkBox .item:last-child{border: none;}
/*button*/
.btn{display: inline-block;padding: 5px 15px;font-size: 14px; border: solid 1px #e4e4e4;border-radius: 4px;background: #fff;line-height: 22px;}
.btn.btn-rose{background: #ff5366; color: #fff;border-color: transparent;}
.btn.btn-red{background: #e04241;color: #fff;border-color: transparent;}
.btn.btn-orange{background: #F60;color: #fff;border-color: transparent;}
.btn.btn-simple{color: #fff;}
.btn.half{display: block;width: 50%;line-height: 32px;font-size: 16px;text-align: center;box-sizing: border-box;}
.btn.full{display: block;width: 100%;line-height: 32px;font-size: 16px;text-align: center;box-sizing: border-box;}
.btn.center{display: block;margin-left: 15px;margin-right: 15px;line-height: 24px;font-size: 18px;text-align: center;}
.btn:disabled{background: #c4c4c4;color: #666;border-color: #c4c4c4;}
/*2015/08/26 16:35:25 自加关于btn的css样式*/

.handle-btn { padding-top:8px !important; padding-bottom:8px !important; }
.mod_btn{text-shadow:none;border:1px solid #eaeaea;text-align:center;text-decoration:none;-webkit-appearance:none;display:inline-block;line-height:30px;height:30px;font-size:14px;color:#999;padding:0 5px;background-color:#fafafa;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#fafafa));background-image:-webkit-linear-gradient(top,#fff,#fafafa);background-image:linear-gradient(to bottom,#fff,#fafafa)}
.mod_btn.btn_em{color:#FFF;background-color:#ff8700;background-image:-webkit-gradient(linear,left top,left bottom,from(#ffbf00),to(#ff8700));background-image:-webkit-linear-gradient(top,#ffbf00,#ff8700);background-image:linear-gradient(to bottom,#ffbf00,#ff8700)}
.mod_btn.btn_strong,.mod_select.btn_strong{color:#FFF;background-color:#f52f40;background-image:-webkit-gradient(linear,left top,left bottom,from(#ff4747),to(#f52f40));background-image:-webkit-linear-gradient(top,#ff4747,#f52f40);background-image:linear-gradient(to bottom,#ff4747,#f52f40)}
.mod_select.btn_strong select{background-color:transparent;border:0;color:#FFF}
.mod_btn.btn_block{display:block;height:40px;line-height:40px;font-size:17px}
.mod_btn.btn_tiny{height:30px;line-height:30px;font-size:14px}
.mod_btn.btn_rec{border-radius:0}
.mod_btn.btn_gray{background-color:#d5d5d5;color:#333;background-image:none;height:40px;line-height:40px;font-size:17px}
.mod_btn.btn_disabled{background:#F1F1F1;color:#CCC}
.mod_btn.flex_box{width:1px}
.mod_btn.active{border:1px solid #FE9900;position:relative}
.mod_btn.active:before{content:"";background-image:url(../images/icon_active_corner.png);width:20px;height:19px;position:absolute;bottom:0;right:0}
.mod_input,.mod_input.size_s{width:100px}
.mod_btn_group .btn{background-color:#FFF;border:1px solid #eaeaea;margin-right:10px;padding:5px;min-width:78px}
.mod_input,.mod_textarea{-webkit-appearance:none;font-size:13px;border:0;background:#FDFDFD;box-shadow:1px 1px 1px rgba(0,0,0,.15) inset}
.mod_btn_group .btn:last-child{margin-right:0}

/*右侧带箭头*/
.with-go-right{position: relative;}
.with-go-right:after{border: #e4e4e4 solid;border-width:0 0 2px 2px ;-webkit-transform: rotate(-135deg);content: ' ';position: absolute;top: 50%;margin-top: -6px;right: 15px;width: 10px;height: 10px;}
/*搜索模块*/
.searchBox{padding: 8px 10px;border-bottom: solid 1px #e4e4e4;background: #f4f4f4;position: relative;width: 100%;-webkit-box-sizing: border-box;}
.searchBox.doing{position: fixed;top: 0;z-index: 999;}
.searchBox .cont{position: relative;}
.searchBox .search{height: 34px;line-height: 34px;font-size: 13px;box-sizing: border-box;width: 100%;border-radius: 4px;border: solid 1px #e4e4e4;padding: 2px 26px 2px 4px;display: block;}
.searchBox .s-btn{position: absolute;right: 0;top: 0;background: url(../images/searchIcon.png) center center no-repeat;width: 34px;height: 34px;border: none;background-size: 18px 18px;}
.searchBox .s-cancel{margin-left: 6px;height: 34px;padding: 0 10px;border: solid 1px #bd2625;border-radius: 4px;background: #e04241;color: #fff;border-color: #ddd;background-color: #f4f4f4;color: #666;}
.searchCover{position: fixed;width:100%;height: 100%;top: 51px;overflow:auto;border-top: none;background: #fff;z-index: 998;}
.searchCover .history li{;border-bottom: solid 1px #e4e4e4;line-height: 36px;}
.noResult{padding-top: 30%;border: none!important;}
.noResult span{display: inline-block;text-align: center;width: 100%;line-height: 36px;padding-top: 85px;background: url(../images/noData.png) top center no-repeat;font-size: 16px;color: #999;text-align: center;background-size: 80px 80px;}
.noResult span.store{background-image: url(../images/noStore.png);}
.noResult span.order{background-image: url(../images/noOrder.png);}
.noResult span.coupon{background-image: url(../images/noCoupon.png);}
.noResult span.sales{background-image: url(../images/noSales.png);line-height: 20px;padding-top: 90px;}
.searchCover .history .clear{border: none;padding-top: 20px;}
.searchCover .clear .btn{color: #e04241;}
.searchCover li .wbox-1{white-space: nowrap;overflow: hidden;text-overflow:ellipsis;padding-left:20px}
.searchCover .history .remove{color: #999;padding:0 15px 0 5px;display: block;}
/*加载更多模块*/
.loadingBox{margin: 15px 0 20px;}
.loadingBox a{display: block;text-align:center;padding: 10px 0;width: 100%;}
/*门店列表*/
/*.storeList{background: #fff;overflow: hidden;}
.storeList li{border-bottom: solid 1px #e4e4e4;margin-left: 10px;}
.storeList li a{width: 100%;padding: 10px 0;position: relative;}
.storeList .storeLogo{width: 80px;height: 60px;}
.storeList .storeMsg{line-height: 20px;padding-left: 8px;color: #999;}
.storeList .name{white-space: nowrap;overflow: hidden;text-overflow:ellipsis;font-weight: bold;color: #333;}
.storeList .addr{padding-right: 30px;}
.storeList .dist{padding:0 10px 0 5px;}*/
/*new*/
/* .storeList{background: #fff;overflow: hidden;}
.storeList li{padding:0 0 0 15px;}
.storeList li a{padding: 15px 30px 15px 0;position: relative;display: block;border-bottom: solid 1px #e8e8e8;}
.storeList li a:active{background: #f2f2f2;}
.storeList li:last-child a {border: none;}
.storeList .name{white-space: nowrap;overflow: hidden;text-overflow:ellipsis;font-size: 15px;}
.storeList .addr{padding-right: 30px;}
.storeList .dist{padding:0 10px 0 5px;} */

/* DIY店铺列表 */
.rank-box { height:80px; opacity:0.85; border-radius:5px; overflow:hidden; }
.rank-self { background:#0ab44e; }
.shop-img { float:left; width:70px; margin:5px; border:0px; border-radius:5px; }
.shop-logo { float:left; }
.shop-info { float:left; max-width:160px; overflow:hidden; }
.distance { width:80px; height:30px; overflow:hidden; line-height:28px; text-align:center; float:right; position:relative; right:0px; top:30px; }
.basic-info { height:26px; line-height:26px; }
.latest-visit { color:#F60; }
.into-shop { display:block; border-bottom:1px solid #DDD; }
.no-more { width:100%; height:50px; text-align:center; line-height:44px; }

/*门店详情*/
.storeSales{padding: 10px 15px;}
.storeSales .name{padding-left: 15px;line-height: 22px;}
.storeSales .item{padding: 10px 0;border-top: solid 1px #e4e4e4;}
.storeSales .item:last-child{border-bottom: solid 1px #e4e4e4;}
.storeSales .grade{display: inline-block;background: #ffb84d;color: #fff;padding: 2px 5px;line-height: 12px;border-radius: 2px;}
.storeSales .appProgress{float: left;margin: 6px 5px 0 0;}
/*门店主页*/

.customerInfo{padding: 18px;background: #fff;line-height: 22px;}
.customerInfo .photo{border-radius: 4px;margin-right: 10px;width: 43px;height: 43px;}
/*分页*/
.categoryItem{padding: 5px 0 10px;overflow: hidden;}
.categoryItem .family{line-height: 30px;font-size: 15px;font-weight: bold;}
.categoryItem .item{width: 50%;float: left;margin:6px 0;}
.categoryItem .item a{display: block;margin-right: 6px;border: solid 1px #e4e4e4;background: #fff;padding: 10px;border-radius: 4px;}
.categoryItem .item:nth-child(2n+2) a{margin:0 0 0 6px;}
/*商品列表*/
.stockList{padding: 0 10px;overflow: hidden;min-height: 300px;}
.stockList li.stockBox{float: left;width: 50%;margin-bottom: 12px;}
.stockList .stockName{padding-top: 5px;height: 36px;line-height: 18px;overflow: hidden;display: -webkit-box;-webkit-box-align:center;}
.stockList .stockLink{display: block;position: relative;margin-right: 6px;border: solid 1px #e4e4e4;background: #fff;padding: 5px;}
.stockList li:nth-child(2n+2) .stockLink{margin:0 0 0 6px;}
.stockBox .stockImg{-webkit-box-align:center;-webkit-box-pack:center;width: 100%;height: 150px;}
.stockBox .stockImg img{max-width: 100%;max-height: 100%;}
.stockList .stockName b{height:15px; line-height:15px; background:#e04241; color:#fff; padding:0px 5px; font-weight:normal; margin-right:5px;}
.stockList .more{ position:absolute; width:30px; height:30px; right:0; bottom:0;line-height: 30px;color: #999;padding-left: 10px;}
.stockList .cover{display: none;position: absolute;width: 100%;height: 100%;top: 0;left: 0;background: rgba(0,0,0,0.8);}
.stockList .cover .fav{float: left;position: absolute;top: 35%;width: 76px;padding-top: 42px;left: 50%;margin-left: -38px;color: #fff;background: url(../images/fav.png) center top no-repeat;background-size: 38px 34px;text-align: center;}
.stockList .cover .fav.faved{background-image: url(../images/faved.png);}

/*商品详情*/
.appProgress{width: 50px;display: inline-block;background: url(../images/pjStarNone.png) repeat-x;background-size: 10px 10px;}
.appProgress span{display: block;height: 12px;background: url(../images/pjStar.png) repeat-x;background-size: 10px 10px;}
.appriseBox{background: #fff;border-top: solid 1px #e4e4e4;border-bottom: solid 1px #e4e4e4;margin-top: 10px;}
.appriseBox .tit{height: 42px;line-height: 42px;padding-left: 15px;display: block;}
.appriseBox .cont{padding: 0 15px;}
.appriseBox .item{border-top: solid 1px #e4e4e4;padding: 10px 0;}
.storeBox{padding: 15px;border-top: solid 1px #e4e4e4;border-bottom: solid 1px #e4e4e4;background: #fff;margin-top: 10px;}
/*悬浮与弹层138行处还有*/
.ft-cart{padding-top: 5px;}
#skuPriceBox{padding-top: 6px;}
/*悬浮按钮改版*/
.ft-cart:last-child { width:100%; }
.handle-box { width:100px; height:40px; }

.btn-box { display: -webkit-box; display: -moz-box; display: box; width: 100%; }
.btn-box > .fixed-btn{ height: 30px; width:1%; -webkit-box-flex:1; -moz-box-flex: 1; box-flex: 1; word-break: break-all;}
.fixed-btn { display:block; width:auto; line-height:28px; height:30px; text-align:center; margin:0 6px 0 6px; }

/*radio checkbox*/
.selection{margin-bottom: 15px;background-color: #fff;border-top: solid 1px #f4f4f4;border-bottom: solid 1px #f4f4f4;}
.selection .item{position: relative;}
.selection .item .select{width: 50px;text-align: center;display: block;padding-top: 12px;}
.selection .item .cont label{display: block;line-height: 24px;border-bottom: solid 1px #f4f4f4;padding: 10px 30px 10px 0;}
.selection .item .link{padding: 10px 30px 10px 0;line-height: 24px;}
.selection .item:last-child .cont label{border: none;}
.selection .item .select .member{width: 18px;height: 18px;}
label.wechat, label.alipay{background: url(../images/wechat.png) right center no-repeat; background-size: 34px auto;margin-right: 15px;}
label.alipay{background-image: url(../images/alipay.png);}


.shop-action ul{display: -webkit-box;}
.shop-action li{-webkit-box-flex:1;border-right: solid 1px #e4e4e4;}
.shop-action li:last-child{border: none;}
.shop-action li a{display: block;width: 100%;height: 22px;text-align: center;padding-top: 2px;}

#mpLoginBox{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);z-index: 200;}
#mpLoginBox .cont{width: 100%;box-sizing:border-box;padding: 15px;position: relative;background: #fff;line-height: 30px;}
#mpLoginBox .cont input{border: solid 1px #e4e4e4;box-sizing:border-box;border-radius: 4px;width: 100%;padding: 2px 10px;height: 42px;}
#mpLoginBox .cont .btn{line-height: 30px;padding: 5px 20px;}
#mpLoginBox .cancelLogin{position: absolute;right: 10px;top: 10px;width: 30px;height: 30px; font-size: 28px;color: #999;line-height: 20px;}

.toShoppingCart, .toAskSales{position: fixed;z-index: 90;right: 10px;bottom: 70px;display: block;width: 50px;height: 50px;background: url(../images/toShoppingCart.png);background-size: 100% 100%;opacity: 0.8;}
.toAskSales{background-image: url(../images/contactSales.png);bottom: 15px;}
.toAskSales .ac{position: absolute;top: 12px;right: 12px;display: block;background: #ff3b30;border-radius: 50%;width: 8px;height: 8px;}
.toShoppingCart.higher{bottom: 115px;}
.toAskSales.higher{bottom: 60px;}

/*优惠券*/
.couponList{padding: 15px 15px 0;}
.couponList .item{display: block;width: 100%;height: 120px;border-radius: 4px;box-shadow: 0 0 1px 1px #efefef;text-align: left;background: #fff;margin-bottom: 15px;}
.couponList .item .top{display: block;position: relative;height: 61px;background: #f44336;padding: 12px 5px 12px 10px;color: #fff;border-radius: 4px 4px 0 0;display: block;}
.couponList .item .type{font-size: 22px;}
.couponList .item .couponName{font-size: 14px;padding-top: 10px;}
.couponList .item .wave{position: absolute;bottom: 0;left: 0;height: 2px;width:100%;background: url(../images/waveback.png) repeat-x;}
.couponList .item .bottom{height: 35px;padding:0 0 0 10px;line-height: 36px;color: #9f9f9f;font-size: 12px;}
.couponList .item .use, .couponList .item .cancelUse{color: #9f9f9f;padding:0 10px;}

.couponInfo .top{text-align: center;position: relative;height: 100px;background: #f44336;padding: 40px 5px 20px;color: #fff;}
.couponInfo .top .type{font-size: 26px;}
.couponInfo .top .couponName{font-size: 14px;padding-top: 10px;}
.couponInfo .top .wave{position: absolute;bottom: 0;left: 0;height: 2px;width:100%;background: url(../images/waveback.png) repeat-x;}
.couponInfo .top .time{padding-top: 25px;font-size: 12px;}
.couponInfo .bottom{padding: 20px;}
.couponInfo .bottom .cont{padding-top: 10px;line-height: 1.7;color: #666;}

.chooseSalesBox{position: fixed;z-index: 190;width: 100%;height: 100%;top: 0;left: 0;background: rgba(0,0,0,0.9);}
.chooseSalesBox .title{text-align: center;font-size: 16px;padding: 20px 0 10px;line-height: 24px;color: #fff;}
.chooseSalesBox .tit{font-size: 14px;}
.chooseSalesBox .storeSales{overflow: auto;}
.chooseSalesBox .storeSales .item:active{background: #999;}
.chooseSalesBox .storeSales .name{color: #fff;}
.chooseSalesBox .storeSales .item{padding: 10px 0;border: none;}
.chooseSalesBox .jumpStep{display: block;text-align: center;padding: 20px 0 30px;font-size: 14px;position: absolute;bottom: 0;left: 0;width: 100%;color: #fff;}

.mySalesList{background:#fff;line-height:20px}
.mySalesList .item{border-bottom:solid 1px #ddd;padding:10px}
.mySalesList .sales{overflow:hidden}
.mySalesList .sales span{float:left}
.mySalesList .sales .star{display:block;background:#ffb84d url(../images/star.png) center center no-repeat;width:20px;height:20px;margin-left:5px;border-radius:4px 0 0 4px}
.mySalesList .sales .val{display:block;padding:0 5px;background:#ffb84d;color:#fff;margin-left:2px;border-radius:0 4px 4px 0}
.mySalesList .store{color:#999;padding-top:3px}
.mySalesList .talk{margin-top:5px}

.white { color:#fff; }

.street-wrap { padding:10px; }
.street-header { line-height:40px; text-align:center; }
/*------三列，左右固定中间自适应 begin-----*/
.father-box { overflow:hidden;margin:0 auto; background:#DDD; }
.left-box { float:left; margin:5px; }
.left-box img { width:70px; height:70px; border:0px; }
.right-box { width:100px; margin:5px; float:right; }
.right-box img { height: 70px; border:0px; border-radius:5px; }
.center-box { margin:0 110px 0 80px; }
/*------三列，左右固定中间自适应 end-----*/
.center-box { padding-top:8px; }
.pro-info { display:block; line-height:22px; }
.list-shop ul { margin:0px; }
.list-shop ul li { margin:0px; text-indent:0px; list-style-type:none; margin-bottom:5px; }
.no-shop { height:60px; font-size:16px; text-align:center; line-height:40px; }
/*------公共样式-----*/
.street-hr {  border: 0; clear: both; margin: 5px; border-top: 1px solid #EAEAEA; border-bottom: 1px solid #FFF; }
.b-round { border-radius:5px; }
.clear { clear:both; }