<!DOCTYPE html>
<html>
<head time='1418198533'>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="shortcut icon" href="" />
<title>微社区</title>
<script type="text/javascript">
    window.g_module = [];
    var STATIC_DOMAIN = '__PUBLIC__',
        ARS_TIME = '',
        IMG_LOADING = 'data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==';
    
    var g_tsBase = new Date(),g_ts = {};
    var PathUtil = {
        getCPath: function() {
        	return STATIC_DOMAIN + '/js/';
        }
    };
    
    g_ts.css_start=new Date();
    var pageName = '';
</script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/post.css" />
<!--debug-->
<script type="text/javascript">
    var sId = 0,
        tId = 0,
        uId = '105339320',
        isNullNick = '0' | false,
        isManager = 0,
        authUrl = '',
        siteLogo = '',
        CSRFToken = "afec2a86",
        debug = '' | false,
        DOMAIN = 'http://m.wsq.qq.com/',
        _speedMark = new Date(),
        isWX = '' | false,
        isMQ = '' | false,
        isAppBar = '' | false,
        isQQBrowser = '' | false,
        isWeixinLink = '' | false,
                    newMsgCount = '0',
        isFriendSite = '0',
        enabledSmiley = '';
    
    window.addEventListener("DOMContentLoaded", function() {g_ts.domready = new Date();});
    window.addEventListener("load", function() {g_ts.domload = new Date();});
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideToolbar');
        WeixinJSBridge.call('showOptionMenu');
    });
</script>
</head>

<!-- 如果class是pt代表topbar，pb代表bottombar -->
<body class="pb">
	<div class="warp">
		<div class="container">
			<div id="allThreadList">
				<!--  新版列表 -->
 				<div class="personTopic topicBox" id="t_187471671_141">
					<div class="ptTitle pr">
						<a href="javascript:;" class="db">
							<img alt="Logo" class="br ptImg fl mr5" src="http://shp.qlogo.cn/gqclogo/0/187471671/50?max-age=2592000&amp;t=1394112055">
							<h3 class="title f16 fn wot"><a class="threadContent" href="javascript:;" data-link="/187471671">TOPMEN男装网</a></h3>
							<span class="iconArrowR db pa c9 cf"></span>
						</a>
					</div>
					<div class="ptInfo c9 f11">
						<span class="db fl">&hearts;詩人灬&Otilde;</span>
						<span class="fr db">2014-09-01 19:11</span>
					</div>
					<div class="dCon f16">
						<span class="threadContent" data-link="/187471671/t/141">我想吃东西</span>
					</div>
	              
					<div class="operation oh">
						<span class="replyShare db c9 fr f13"  sId="187471671" tId="141">
							<a href="javascript:;" class="c9 like" sId="187471671" tId="141" title="赞">
								<i class="iconNoPraise f18 cf"></i><span class="likeNum">1</span>
							</a>
							<a href="javascript:;" title="分享" class="c9 shareBtn" data-link="http://m.wsq.qq.com/187471671/t/141?action=share" _qq="" _qzone="" onclick="pgvSendClick({hottag:'QUAN.INDEX.SHARE.LINK'});" ><i class="iconShare f18 cf"></i></a>
							<a href="javascript:;" title="回复" class="c9 threadReply"><i class="iconReply f18 cf"></i>0</a>
						</span>
					</div>
            	</div>
            	
				<div class="personTopic topicBox" id="t_187471671_138">
					<div class="ptTitle pr">
						<a href="javascript:;" class="db">
							<img alt="Logo" class="br ptImg fl mr5" src="http://shp.qlogo.cn/gqclogo/0/187471671/50?max-age=2592000&amp;t=1394112055">
							<h3 class="title f16 fn wot"><a class="threadContent" href="javascript:;" data-link="/187471671">TOPMEN男装网</a></h3>
 							<span class="iconArrowR db pa c9 cf"></span>
						</a>
					</div>
					<div class="ptInfo c9 f11">
						<span class="db fl">&hearts;詩人灬&Otilde;</span>
						<span class="fr db">2014-09-01 15:24</span>
					</div>
					<div class="dCon f16">
						<span class="threadContent" data-link="/187471671/t/138">哈哈[发呆][得意]</span>
					</div>
					<div class="slideBox">
						<ul>
							<li>
								<img src="http://dzqun.gtimg.cn/plaza/images/common/grey.gif" data-original="http://ugc.qpic.cn/quan_pics/0/187471671_1149/150?max-age=2592000&amp;t=0" alt="">
							</li>
							<li>
								<img src="http://dzqun.gtimg.cn/plaza/images/common/grey.gif" data-original="http://ugc.qpic.cn/quan_pics/0/187471671_1150/150?max-age=2592000&amp;t=0" alt="">
							</li>
						</ul>
						<span class="pageNum br pa db" style="top:5px;right:3px;display:none;">2张</span>
					</div>
              
					<div class="operation oh">
						<span class="replyShare db c9 fr f13"  sId="187471671" tId="138">
							<a href="javascript:;" class="c9 like" sId="187471671" tId="138" title="赞">
								<i class="iconNoPraise f18 cf"></i><span class="likeNum">1</span>
							</a>
							<a href="javascript:;" title="分享" class="c9 shareBtn" data-link="http://m.wsq.qq.com/187471671/t/138?action=share" _qq="" _qzone="" onclick="pgvSendClick({hottag:'QUAN.INDEX.SHARE.LINK'});" ><i class="iconShare f18 cf"></i></a>
							<a href="javascript:;" title="回复" class="c9 threadReply"><i class="iconReply f18 cf"></i>0</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	    <div class="loading" id="loadNext" style="display:none;">
	        <div class="loadInco">
	            <span class="blockG" id="rotateG_01"></span>
	            <span class="blockG" id="rotateG_02"></span>
	            <span class="blockG" id="rotateG_03"></span>
	            <span class="blockG" id="rotateG_04"></span>
	            <span class="blockG" id="rotateG_05"></span>
	            <span class="blockG" id="rotateG_06"></span>
	            <span class="blockG" id="rotateG_07"></span>
	            <span class="blockG" id="rotateG_08"></span>
	        </div>
	        正在加载...
	    </div>
	    <div id='loadNextPos'></div>
	    <div class="loading" id="showAll" style="display:none;">已显示全部</div>
	</div>

<script id="tmpl_sideBar" type="text/html">
<div class="sideBar" style="display:none;">
    <div class="searchContent evtSearchWrap">
        <div class="sInputIn br">
            <i class="searchInco cf pa db"></i>
            <div class="f12 sInput2" style="line-height: 20px">搜索</div>
        </div>
    </div>
    <div class="sideBarCon" id="sideBarCon">
        <h3 class="sideTit f14 fn c2">话题筛选</h3>
        <ul style="position: relative;">
            <li class="filter<%if (!filterType) {%> on<%}%>"><a class="<%if (!filterType) {%>iconSucc cf s_succ db<%} else {%>c9<%}%>" href="javascript:;">全部</a></li>
            <li class="filter<%if (filterType == 'hot') {%> on<%}%>" labelId="hot"><a class="<%if (filterType == 'hot') {%>iconSucc cf s_succ db<%} else {%>c9<%}%>" href="javascript:;">热门</a></li>
            <li class="filter<%if (filterType == 'showPic') {%> on<%}%>" labelId="showPic"><a class="<%if (filterType == 'showPic') {%>iconSucc cf s_succ db<%} else {%>c9<%}%>" href="javascript:;">晒图</a></li>
        </ul>
        <div class="loading pd10" id="customTagWait">
            <div class="loadicon">
                <span class="blockG" id="rotateG_01"></span>
                <span class="blockG" id="rotateG_02"></span>
                <span class="blockG" id="rotateG_03"></span>
                <span class="blockG" id="rotateG_04"></span>
                <span class="blockG" id="rotateG_05"></span>
                <span class="blockG" id="rotateG_06"></span>
                <span class="blockG" id="rotateG_07"></span>
                <span class="blockG" id="rotateG_08"></span>
            </div>
            正在加载...
        </div>
        <div class="customTag" id="customTag">
        </div>
        <ul class="sidePerMan">
            <li id="sideProfile"><a href="javascript:;" class="iconPrfile  f16 c9 cf"><i class="db numP" id="sideMsgNum"<%if (newMsgCount < 1) {%> style="display:none;"<%}%>><%if (newMsgCount < 100) {%><%=newMsgCount%><%}else{%>99+<%}%></i>个人主页</a></li>
            <li id="sideUnfollow" sid="<%=sId%>"<%if (isLiked != 1) {%> style="display:none;"<%}%>><a href="javascript:;" class="iconExit f16 c9 cf">退出社区</a></li>
        </ul>
    </div>
</div>
</script>
<script id="tmpl_customTag" type="text/html">
<div>
<% for (var i in labelList) { %>
    <a href="javascript:;" class="f12 filter<%if (filterType == labelList[i].labelId) {%> on<%}%>" labelId="<%=labelList[i].labelId%>"><%=labelList[i].labelName%></a>
<%}%>
</div>
</script>
<!-- <div class="topBar">
    <div class="topBarCon pr">
        <a href="javascript:;" class="qBackBtn" id="goback"><i class="upBtn cf db"></i>返回</a>
        <h2 class="qTitle">&hearts;詩人灬&Otilde;的话题</h2>
        <a href="javascript:;" id="mqOption" isSite="2" class="moreC qMore db"><i class="iconPrfile f18 c2 cf"></i><i class="db numP" id="navMsgNum" style="display:none;"></i></a>
	</div>
</div> -->
<div class="bottomBar" id="bottomBar">
	<div class="bottomBarCon pr">
        <a href="javascript:;" class="backBtn" id="goback"><i class="iconAnswer cf back db"></i></a><!-- 如果少了back，方向就会反 -->
        <!-- <h2 class="title">&hearts;詩人灬&Otilde;的话题</h2> -->
        <a href="javascript:;" id="mqOption" isSite="2" class="moreC qMore db"><i class="iconPrfile f18 c2 cf"></i><i class="db numP" id="navMsgNum" style="display:none;"></i></a>
	</div>
</div>
<script type="text/javascript">
var isForceReload = '0',
    isLiked = '0',
    inviteUrl = '0';
//g_module.push('module/topBar');			//如果执行这句话，上边就会被压出一个topbar的距离
g_module.push('module/navBar');
</script>    
<form id="threadForm" name="threadForm" action="" method="post">
    <input type="hidden" name="CSRFToken" value="afec2a86">
    <input type="hidden" name="tId">
</form>

<script id="tmpl_reply" type="text/html">
    <% for (var k in replyList) { %>
      <a href="/profile/<%= replyList[k].authorUid %>">
        <img width="25" height="25" alt="头像" class="rImg brBig" src="<%= replyList[k].avatar %>">
      </a>
    <% } %>
</script>

<script id="tmpl_thread" type="text/html">
<% for (var i in threadList) { %>
    <div class="personTopic topicBox" id="t_<%= threadList[i].sId %>_<%= threadList[i].tId %>">
      <div class="ptTitle pr">
        <a href="javascript:;" class="db">
          <img alt="Logo" class="br ptImg fl mr5" src="<%= threadList[i].siteLogo.small %>">
          <h3 class="title f16 fn wot"><a class="threadContent" href="javascript:;" data-link="/<%= threadList[i].sId %>"><%= threadList[i].siteName %></a></h3>
          <span class="iconArrowR db pa c9 cf"></span>
        </a>
      </div>
      <div class="ptInfo c9 f11">
        <span class="db fl"><%= threadList[i].author %></span>
        <span class="fr db"><%== threadList[i].hCreatedTime %></span>
      </div>
      <div class="dCon f16" id="content_<%=threadList[i].tId %>" tId="<%= threadList[i].tId %>" uId="<%= threadList[i].authorUid %>" author="<%= threadList[i].author %>">
        <span class="threadContent" data-link="/<%= threadList[i].sId %>/<% if (threadList[i].threadType == 7 || threadList[i].threadType == 9) { %><% if (threadList[i].parentId) { %>v/<%= threadList[i].parentId %>/t/<%= threadList[i].tId %><% } else { %>v/<%= threadList[i].tId %><% } %><% } else { %>t/<%= threadList[i].tId %><% } %>"><%== threadList[i].summary%></span><%if (threadList[i].showMore) {%><a class="showAll f11 threadContent" href="javascript:;" title="全文" data-link="/<%= threadList[i].sId %>/<% if (threadList[i].threadType == 7 || threadList[i].threadType == 9) { %><% if (threadList[i].parentId) { %>v/<%= threadList[i].parentId %>/t/<%= threadList[i].tId %><% } else { %>v/<%= threadList[i].tId %><% } %><% } else { %>t/<%= threadList[i].tId %><% } %>">全文</a><%}%>
      </div>
      <% if (threadList[i].picUrls) {%>
      <div class="slideBox">
          <div class="slideBoxWrapper" style="position:relative;">
          <ul>
              <% for (j in threadList[i].picUrls) { %>
              <li>
                  <img src="http://dzqun.gtimg.cn/plaza/images/common/grey.gif" data-original="<%= threadList[i].picUrls[j].small %>" alt="">
                  <%if ( threadList[i].picUrls[j].small.indexOf('_GIF') != -1 ) {%>
                    <span class="gifImg pa fn br db c2">GIF</span>
                  <% } %>
              </li>
              <% } %>
          </ul>
          </div>
          <span class="pageNum br pa db" style="top:5px;right:3px;display:none;"><%= threadList[i].picNum %>张</span>
      </div>
      <% } %>

      <div class="operation oh">
        <span class="replyShare db c9 fr f13" sId="<%=threadList[i].sId%>" tId="<%=threadList[i].tId%>">
          <a href="javascript:;" class="c9 like" sId="<%= threadList[i].sId %>" tId="<%= threadList[i].tId %>" title="赞">
            <i class="icon<% if (!threadList[i].liked) { %>No<%}%>Praise f18 cf"></i><span class="likeNum"><% if (threadList[i].likeNum == 0) { %>赞<% }else{ %><%= threadList[i].likeNum %><% } %></span>
          </a>
          <a href="javascript:;" title="分享" class="c9 shareBtn" data-link="<%=threadList[i].shareLink%>" _qq="<%=threadList[i].share.qq%>" _qzone="<%=threadList[i].share.qzone%>" onclick="pgvSendClick({hottag:'QUAN.INDEX.SHARE.LINK'});"><i class="iconShare f18 cf"></i></a>
          <a href="javascript:;" title="回复" class="c9 threadReply"><i class="iconReply f18 cf"></i><%=threadList[i].rCount%></a>
        </span>
        <% if (threadList[i].rCount) { %>
        <div class="replyPop">
          <div class="replyBg brSmall pr">
            <div class="dNum pr">
              <span class="db fl">
                <% include('tmpl_reply', {'replyList':threadList[i].replyList}) %>
              </span>
              <span class="db c7 pa">
                <a class="threadContent f12" href="javascript:;" data-link="/<%= threadList[i].sId %>/<% if (threadList[i].threadType == 7 || threadList[i].threadType == 9) { %><% if (threadList[i].parentId) { %>v/<%= threadList[i].parentId %>/t/<%= threadList[i].tId %><% } else { %>v/<%= threadList[i].tId %><% } %><% } else { %>t/<%= threadList[i].tId %><% } %>" title=""><%= threadList[i].rCount %> 条回复</a>
              </span>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
<% } %>
</script>
<script type="text/javascript">
var nextStart = 2;
g_module.push('module/userThread');
</script>
<script id="tmpl_replyForm" type="text/html">
<div class="popLayer pSpace brNone" style="width:100%">
<form method="post" action="//r/new/submit" id="replyForm">
    <input type="hidden" name="CSRFToken" value="afec2a86">
    <input type="hidden" name="sId" value="<%= data.sId %>">
    <input type="hidden" name="tId" value="<%= data.tId %>">
    <input type="hidden" name="pId" value="<%= data.pId %>">
    <input type="hidden" name="floorPId" value="<%= data.floorPId %>">
    <input type="hidden" name="parentId" value="<%= data.parentId %>">
    <div class="sendRCon">
        <textarea id="content" name="content" cols="" rows="" class="sInput f13" placeholder="回两句吧..."></textarea>
    </div>
    <div class="sendNav">
        <ul>
            <li>
                <a data-id='0' href="javascript:;" class="operatIcon iconExpression f21 db c9 cf"></a>
            </li>
            <li class="pr uploadPicBox">
                <a data-id='1' href="javascript:;" class="operatIcon iconSendImg db f21 c9 cf pr" style="z-index:1;"></a>
            </li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li><a id="cBtn" href="javascript:;" class="cancelNewBtn brSmall f13 db fr c3 close">取消</a></li>
            <li><a id="comBtn" href="javascript:;" class="sendBtn brSmall f13 db c2">发送</a>
            </li>
        </ul>
    </div>
    <div class="operatingBox">
        <div class="operatList tipLayer" style="display:none;margin:0;border:0;">
        </div>
        <div class="operatList photoTipsBox" style="display:none;height:213px;background-color:#efefef;border-top:1px solid #e2e2e2;">
            <div class="photoList">
                <ul>
                    <li class="on" id="addPic">
                    <input type="file" class="on needsclick" style="z-index:200;opacity:0;filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)';" id="uploadFile" accept="image/*" single>
                    </li>
                </ul>
                <p class="textTip f12">还可上传<span id="onlyUploadNum">8</span>张照片呦~</p>
            </div>
        </div>
        
    </div>
</form>
</div>
</script>

<script id="tmpl_expreBox" type="text/html">
<div class="expreBox" style="display:none;" id="expreBox">
    <div class="expressionTab pr">
        <div class="expressionMenu">
            <% var def = null %>
            <% for (var i in cate) {%>
            <% if (def === null) { def = i }%>
            <a href="javascript:;"<% if (def == i) {%> class="on"<%}%> id="emo<%=i%>" title="<%=cate[i]%>"><%=cate[i]%></a>
            <% }%>
        </div>
        <a href="javascript:;" class="eR db iconArrowR cf pa c9" style="display:none;"></a>
    </div>
    <% var pageNum = []%>
    <div class="expreList" id="expreList">
        <% for (var i in emo) {%>
        <ul class="expreCon <%=emo[i].ulClass%>" id="exp_emo<%=i%>" style="<%if(i != def) {%>display:none;<%}%>">
            <% var emoNum = 0%>
            <% var page = 0%>
        <% for (var j in emo[i].icon) {%>
            <% ++emoNum%>
            <% if (emoNum % emo[i].perPage == 1) { %>
                <% ++page%>
                <% pageNum[i] = page%>
                <li class="<%=emo[i].liClass%><%=page%>">
            <% } %>
                <a href="javascript:;" title="<%=j%>"></a>
            <% if (emoNum % emo[i].perPage == 0) { %>
                <%if (emo[i].delBtn) {%><a href="javascript:;"></a><%}%>
                </li>
            <% } %>
        <% }%>
        </ul>
        <% }%>
    </div>
    <% for (var k in pageNum) {%>
    <p class="pNumCon" id="exp_emo<%=k%>_page"<% if (def != k) {%> style="display:none;"<%}%>>
        <% for(var i = 1; i <= pageNum[k]; i++) { %>
        <a href="javascript:;" class="<% if(i == 1) { %> on <% } %> pNum db"></a>
        <%}%>
    </p>
    <% }%>
</div>
</script>
        <div onclick="location.href='#'" class="copyRight ht">微社区，精彩在你身边</div>
    <script type="application/javascript">g_ts.body_view = new Date();</script>
<script id="tmpl_pageTip" type="text/html">

<div class="tipInfo" id="showShare">
    <p class="tipBor"><%=msg || '请点击右上角图标分享'%><span class="arrLeft"></span></p>
</div>

</script>

<script src="__PUBLIC__/js/qqapi.js"></script>
<script type="text/javascript">
var shareUrl = 'http://m.wsq.qq.com/my/thread?uId=94460970&_wv=1&source=custom',
shareTitle = '快来看看他的话题',
shareDesc = '&hearts;詩人灬&Otilde; 在微社区玩呢，快来看看哦~',
shareImgUrl = 'http://wx.qlogo.cn/mmopen/Q3auHgzwzM4lU0k1MctGicHhpugl7eHp4B3j0lyljVictPN4zYcialHQlpLAarIV5XLLAjjRQXQ0iamC3PziaVLTrNw/0';
    g_module.push('module/common', 'module/share');
</script>
<script type="application/javascript">
var url = '__PUBLIC__/js/seajs-0.1.5.js';
var node = document.createElement('script');node.onload = function(){g_ts.seajs = new Date();};node.src = url;document.body.appendChild(node);
if (window.statConf) {
    setTimeout(function() {
        window.seajs && seajs.use('lib/stat', function(_a) {
            _a.init();
        });
    }, 2000);
}
</script>
</body>
</html>