@charset "utf-8";
/*common*/
a,html,body,dd,dl,dt,h1,h2,h3,h4,img,li,p,ul{margin:0;padding:0;font-size:14px;font-family:"Helvetica Neue",Helvetica,STHeiTi,sans-serif}
body{margin:0 auto;padding-bottom:55px;background-color:#ebebeb;color:#1d1d1d}
ol,ul{list-style:none}
a,button,input{outline:0 none;text-decoration:none;-webkit-tap-highlight-color:transparent;-webkit-tap-highlight-color:transparent}
a{color:#3668b2}
a:active,a:visited{outline:0 none;color:#5a85ce}
/*wrap*/
.wrap{width:800px; height:300px; background:#ebebeb; margin-top:10px; margin-left:50px; padding:10px; border:1px solid #ccc; border-radius:5px;}
/*webUploader*/
.webUploaderWrap{width:100%;overflow:hidden}
.webUploaderWrap .cancel{display:block;width:20px;height:20px;line-height:20px;text-align:center;position:absolute;right:0;top:0;font-size:28px;cursor:pointer;color:#666}
.webUploaderWrap .cancel:hover{font-weight:700;color:red}
.webuploader-container{margin-bottom:20px;float:left;position:relative;border:none;outline:0;height:82px;width:82px;background-size:80px 80px;background-position:1px 1px;background-repeat:no-repeat;border-radius:5px;}
.webuploader-container.loaded{height:80px;width:80px;margin-right:20px;}
.ui-dialog .webuploader-container.loaded{margin-bottom:20px}
.webuploader-element-invisible{opacity:0;filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)';}
.webuploader-pick{display:inline-block;cursor:pointer;border:dashed 1px #888;width:80px;height:80px;text-align:center;line-height:80px;color:#888;border-radius:4px;overflow:hidden;position:relative;}
.webuploader-file{display:inline-block;cursor:pointer;width:80px;height:80px;position:relative;top:-84px;left:1px;z-index:200;opacity:0;filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)';}
.webuploader-pick-hover{cursor: pointer;border-color:#333;color:#333}
.webuploader-pick.uploading{background:rgba(0,0,0,.6)}
.webuploader-pick .progressBar{height:15px;border-radius:4px;top:32px;width:100%;background:#fff;position:absolute;left:0}
.webuploader-pick .progressBar .progress{background:#008bff;height:15px;border-radius:4px}
.webuploader-pick-disable{opacity:.6;pointer-events:none}