<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/uiloadmsg.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/photoswipe.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/photopagestyle.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/template-native.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.wookmark.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/klass.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/code.photoswipe-3.0.5.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/loadmsgshare.js"></script>
<script type="text/javascript">
(function (window, PhotoSwipe) {
	document.addEventListener('DOMContentLoaded', function() {
		window.options = {};
		var instance = PhotoSwipe.attach(window.document.querySelectorAll('#Gallery a'), options);
	}, false);
}(window, window.Code.PhotoSwipe));
// 对jquery扩展，imagesLoadedRefresh刷新图片函数（wookmark散列不行）
$.fn.imagesLoadedRefresh = function(callback) {
	var elems = this.find('img'),
		elems_src = [],
		self = this,
		len = elems.length;

	if (!elems.length) {
		callback.call(this);
		return this;
	}

	elems.one('load error', function() {
		if (--len === 0) {
			// Rinse and repeat.
			len = elems.length;
			elems.one('load error', function() {
				if (--len === 0) {
					callback.call(self);
				}
			}).each(function() {
				this.src = elems_src.shift();
			});
		}
	}).each(function() {
		elems_src.push(this.src);
		this.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
	});
	return this;
};
</script>
<title>活动展示</title>
</head>

<body id="photo">
	<!-- 下拉等待刷新效果层 begin -->
	<div class="loading f14" id="refreshWait" style="display:none;">
	    <div class="loadicon">
	        <span class="blockG" id="rotateG_01"></span>
	        <span class="blockG" id="rotateG_02"></span>
	        <span class="blockG" id="rotateG_03"></span>
	        <span class="blockG" id="rotateG_04"></span>
	        <span class="blockG" id="rotateG_05"></span>
	        <span class="blockG" id="rotateG_06"></span>
	        <span class="blockG" id="rotateG_07"></span>
	        <span class="blockG" id="rotateG_08"></span>
	    </div>
	    正在加载...
	</div>
	<!-- 下拉等待刷新效果层 end -->
    <div class="qiandaobanner"> 
    	<img src="__PUBLIC__/images/activityenroll/banner.jpg" />
    	<div class="activity-btn">
    		<a href="javascript:;" class="enrollBtn medium ui-color-button rose-red">我要参加</a>
	    	<a href="javascript:;" class="mydetailBtn medium ui-color-button light-purple">我的宣言</a>
	    	<a href="javascript:;" class="focusBtn medium ui-color-button purple">实时关注</a>
	    	<a href="javascript:;" class="rankBtn medium ui-color-button dark-blue">活动排行</a>
    	</div>
    	<div class="activity-btn">
    		<a href="javascript:;" class="palpitatingBtn medium ui-color-button bright-red">一爱倾城</a>
    	</div>
    </div>
    <div class="rules">
		<div class="activity-info">
			<div class="info-title">系统公告 2015/2/3：</div>
   			<div class="info-content" style="color:#F20;">1、本活动已经结束；</div>
   			<div class="info-content" style="color:#F20;">2、请关注公众号动态，后续将进行奖品发放；</div>
   			<div class="info-content" style="color:#F20;">3、感谢广大亲友团和友人对选手的支持；</div>
   			<div class="info-content" style="color:#F20;">4、S.Life将开放微社区，大家要来发博点赞噢。</div>
   			<div class="info-title">《一爱倾“诚”》评选规则：</div>
   			<div class="info-content">1、报名与投票截止日期为2015年2月3日；</div>
   			<div class="info-content">2、每日可为同一情侣点赞宣言一次；</div>
   			<div class="info-content">3、赞数最高的前19位可获得巨型玫瑰（产自安第斯山脉、进口、空运、全城限量）；</div>
   			<div class="info-content">4、赞数最高的前3位可同时获得巨型玫瑰与纪念VCR。</div>
   		</div>
   	</div>
    <div id="main" role="main">
		<ul id="Gallery" class="gallery">
			<div class="infobox">
	            <i class="iconSuccess cf cFont db"></i>
	            <p>正在努力加载...</p>
	        </div>
		</ul>
	</div>
	<div class="deco"></div>
	<!-- 上推瀑布流刷新下一页效果层与现实全部信息层 begin -->
    <div class="loading f14" id="loadNext" style="display:none;">
        <div class="loadicon">
            <span class="blockG" id="rotateG_01"></span>
            <span class="blockG" id="rotateG_02"></span>
            <span class="blockG" id="rotateG_03"></span>
            <span class="blockG" id="rotateG_04"></span>
            <span class="blockG" id="rotateG_05"></span>
            <span class="blockG" id="rotateG_06"></span>
            <span class="blockG" id="rotateG_07"></span>
            <span class="blockG" id="rotateG_08"></span>
        </div>
	正在加载...
    </div>
	<div id='loadNextPos'></div>
   	<div class="loading" id="showAll" style="display:none;">已显示全部<br />下拉顶部刷新</div>
    
<script type="text/javascript">
var jsonData = "{$jsondata}"; // 页面上的js数据
var hasMoreData = true; // 本js模块全局变量：后续是否还有数据
var isLoadingData = false; // 本js模块全局变量：本模块正在请求数据标记
var e_id = "{$e_id}",
	openid = "{$openid}",
	selfid = "{$selfid}",
	requestImageURL = "{:U('Home/Activity/pageRequestImage', array(e_id => $e_id), '')}",
	mydetailurl = "{:U('Home/Activity/detail', array(e_id => $e_id), '')}?wid=",
	enrollurl = "{:U('Home/Activity/enroll', array(e_id => $e_id), '')}",
	palpitatingurl = "http://www.we-act.cn/SceneApp/Expo/magazine/issue/sceneapp00006.shtml",
	likeconfirm = "{:U('Home/Activity/likeConfirm', '', '')}",
	detailurl = "{:U('Home/Activity/detail', array(e_id => $e_id), '')}?wid=",
	focusurl = "http://mp.weixin.qq.com/s?__biz=MzAwNjEyNDQ3Ng==&mid=202831051&idx=1&sn=dab449e92397cbf3b1b11915af51fbeb#rd",
	shareData = {
		appid: "{$pageinfo [shareinfo] [appid]}", // 分享的商家编号
	    img_url: "{$pageinfo [shareinfo] [img_url]}", // 分享的图片
	    img_width: "160", // 宽度
	    img_height: "160", // 高度
	    title: "{$pageinfo [shareinfo] [title]}", // 分享的标题
	    desc: "{$pageinfo [shareinfo] [desc]}", // 分享的描述
	    link: "{$pageinfo [shareinfo] [link]}", // 分享的超链接
	    fakeid : "{$openid}",																		//分享用户的id
	    callback:function(result){
	    	if(result != 'send_app_msg:cancel' && result != 'share_timeline:cancel' && result != 'share_weibo:cancel' && result != 'share_fb:cancel'){
	    		$.post("{:U('Home/MobileCommon/shareRecord','','')}",
	    				{ e_id : e_id, link : shareData.link, openid : shareData.fakeid },			//分享的时候传3个参数：1、商家编号；2、链接地址（区分授权和不授权两种）；3、分享的微信号（只有开启授权登录才有）
	    				function(data){
	    					if(data.status == 1){
	    						scscms_alert("谢谢您的分享!", "ok", "", 2);//定时关闭窗口
	    					}else{
	    						scscms_alert("服务器繁忙，请稍后再试!"+data.msg, "warning", "", 2);//定时关闭窗口
	    					}
	    				},
	    				'json');
	    	}else{
	    		scscms_alert("下次记得分享噢!", "ok", "", 2);//定时关闭窗口
	    	}
	    }	/*分享后的回调函数，发送给朋友的类型分为send_app_msg:confirm或send_app_msg:cancel；对应发送给朋友、分享到朋友圈、分享到腾讯微博、分享到facebook都有4种类型*/
	};

// 初始化页面
$(function() { 
	init(); // CMD封装模块内部输出函数init
});

// 页面初始化函数
function init() {
	// 我的宣言按钮
	if(selfid!=null && selfid!='') {
		$(".mydetailBtn").removeClass("cool-grey").addClass("light-purple").click(function() {
			window.location.href = mydetailurl+selfid;
		});
	} else {
		$(".mydetailBtn").removeClass("light-purple").addClass("cool-grey").click(function() {
			scscms_alert("您还没有报名噢，可以点我要参加报名！", "ok", "", 2);//定时关闭窗口
		});
	}
	
	// 第一次直出渲染模板
	var jsonData = $.parseJSON(window.jsonData); // 解析页面的json数据（不管是带了反斜杠，还是没有反斜杠，都可以解析json数据）
	var tmpl = template('imagetpl', jsonData.data); // 利用json数据渲染art模板引擎，返回渲染后的htmlDOM结构与数据
	var allImageListObj = $('#Gallery'); // 抓取id为Gallery的div，定义为allImageListObj对象
	if (tmpl == '{Template Error}') {
		$('#Gallery').find('.infobox i').removeClass('iconSuccess').addClass('iconPrompt');		// 如果渲染模板出错，更换样式
		$('#Gallery').find('.infobox p').html('好像出了点问题，请联系管理员');							// 显示出错信息
	} else {
		allImageListObj.html(tmpl);																// 渲染成功就把模板渲染的信息写入
	}
	window.nextStart = jsonData.nextStart;
	
	imagesLoadedHash(); // 第一次直接散列图片（瀑布流请求后再调用本函数）
	likenuminit(); // 初始化点赞数量
	
	// 为页面DOM生成事件
	$('#photo').on('click', '.enrollBtn', function(e) {
		window.location.href = enrollurl; // 我要参加
		return false;
	}).on('click', '.focusBtn', function(e) {
		scscms_alert("关注S.Life米拉雅公众号，及时得到点赞提醒和活动排名！", "ok", "", 3); // 实时关注
		setTimeout(function(){
			window.location.href = focusurl;
		}, 3000);
		return false;
	}).on('click', '.rankBtn', function(e) {
		window.location.href="{:U('Home/Activity/rank', array(e_id => $e_id), '')}";
		return false;
	}).on('click', '.palpitatingBtn', function() {
		window.location.href = palpitatingurl; // 活动vcr
		return false;
	}).on('click', '.praise, .praise-text', function(e){
		// 点赞按钮
		var targetli = $(this).closest(".expoli");
		e.stopPropagation(e);
		if(targetli.children().find(".praise").hasClass("liked")) {
			return
		}
		var params = {
				'wid' : targetli.attr("data-wid"),
				'openid' : openid,
				'e_id' : e_id
		}
		$.post(likeconfirm, params, function(result){
			if (result.errCode == 0) {
				targetli.children().find(".praise").removeClass("like").addClass("liked");
				targetli.children().find(".praise-text").html(result.data.likenumber);
			}else {
				scscms_alert("点赞失败，"+result.errMsg, "warn", "", 2);//定时关闭窗口
			}
		}, "json");
		return false;
	}).on('click', '.detail, .detail-text', function(e){
		// 详情按钮
		var targetli = $(this).closest(".expoli");
		e.stopPropagation(e);
		var wid = targetli.attr("data-wid");
		window.location.href = detailurl+wid;
		return false;
	});
	
	/*以下为对TX的尝试*/
	// 灵敏度兼容
    var level = /Android 4.0/.test(window.navigator.userAgent) ? -10 : -100;
    if (/MQQBrowser/.test(window.navigator.userAgent)) {
        level = -10;
    }
    
    var loadingObj = $('#loadNext'); // 底部正在加载
    var loadingPos = $('#loadNextPos'); // 紧挨着上边div的div对象
    
    var x, y , endX, endY, offsetY, loadingAction;
    $('#photo').on('touchstart', function(e) {
        x = endX = e.originalEvent.touches[0].pageX;
        y = endY = e.originalEvent.touches[0].pageY;
    }).on('touchmove', function(e) {
        endX = e.originalEvent.touches[0].pageX;
        endY = e.originalEvent.touches[0].pageY;
        offsetY = endY - y;
		
        // 向下拉刷新
        if (offsetY > 10 && !isLoadingData && document.body.scrollTop <= 1) {
            isLoadingData = true;
            $('#refreshWait').stop(true, true).show();
            getImageList('pull', 0);			// 由本模块内的init方法来调用getImageList方法下拉刷新
        }
    });
	
	// 向上推（到底部才加载）
	$(window).scroll(function() {
		var scrollh = document.body.scrollHeight; // 网页正文全文高
		var clienth = document.documentElement.clientHeight; // 网页可见区域高度
		var scrollt = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop; // 网页被卷去的高
		var limitheight = 120; // 触碰屏幕的距离底部
		if (scrollt + clienth + limitheight >= scrollh && !isLoadingData && hasMoreData) {
			isLoadingData = true;
            $('#loadNext').stop(true, true).slideDown('fast');
            getImageList('drag');
		}
		scrollPosition = $(window).scrollTop();
	});
}

// 图片散列初始化，CMD模块图片散列主调函数（担任一次重散列任务，因为每回请求的第一次散列有遮挡）
function imagesLoadedHash () {
	$('#Gallery').imagesLoadedRefresh(randomHashImage); // 执行回调函数重散列（第一次散列有问题）
}

// 随机重散列图片函数，CMD模块图片散列核心函数（调用wookmark插件散列，效果跟jquery.masonary差不多）
function randomHashImage() {
    var options = {
		autoResize: true, // 自适应手机翻转屏幕
		container: $('#main'), // 将图片散列在容器内部，图片会遵循容器的css规则
		offset: 4, // 图片网格间距，可选参数
		itemWidth: 150 // 图片框的宽度（高度自适应），可选参数
	};
    if(handler) handler.wookmarkClear();
    var handler = $('#Gallery li');
    handler.wookmark(options); // Get a reference to your grid items & Call the layout function.
}

//初始化点赞数量
function likenuminit() {
	$("#main ul li").each(function() {
		var obj = $(this); // 抓取当前li结点
		var likeobj = obj.children().find(".like"); // 抓取点赞图标
		var likenumobj = obj.children().find(".praise-text"); // 抓取点赞字/数量
		if(likeobj.attr("data-liked") == "1") {
			likeobj.removeClass("like").addClass("liked"); // 添加已赞图标
			likenumobj.text(likenumobj.attr("data-likenum")); // 写入赞的数量
		} else {
			likeobj.removeClass("liked").addClass("like"); // 添加未赞图标
			//likenumobj.html('赞'); // 写入赞
		}
	});
}

// 分页请求图片函数
function getImageList(action, nextStart) {
    var start = 0;							// 定义起始页为0
    if (typeof nextStart == 'undefined') {
        start = window.nextStart;			// 如果没有定义nextStart下一页数据，就用window.nextStart这个值
    }
    
    isLoadingData = true; // 模块设置为正在请求数据
    
    var url = requestImageURL+"?nextStart="+start; // 分页请求数据的地址
    
    // 开始定义本次操作方法options，然后交给ajax或ajaxForm执行
    var opts = {
    	// 发送前执行：
        'beforeSend': function() {
            switch(action) {
                case 'pull':									// 如果是下拉刷新操作，默认不出现加载狂（因为有提示部分）
                    $('#showAll').hide();						// 默认已显示全部的div隐藏
                    break;
                case 'drag':									// 如果是上推操作
                	MLoading.show('加载中');
                    break;
                default:
                	MLoading.show('加载中');
                    break;
            }
            hasMoreData = true;					// 模块开始请求新数据的标记置为true
        },
        // 完成后执行：
        'complete': function() {
            $('#waitForLoad').hide();							// 等待加载div隐藏
            $('#refreshWait').slideUp();						// 顶部正在加载div下滑
            $('#loadNext').slideUp();							// 底部正在加载div也下滑
        },
        // 被响应后执行：
        'success': function(re) {
            var status = parseInt(re.errCode);					// 将服务器返回错误码转整
            if (status !== 0) {
                isLoadingData = false;				// 模块不在请求数据中
                return false;									// errCode不为0，有错误码，表示请求数据失败
            }
            
            var allImageListObj = $('#Gallery');			// 抓取页面中class为container，id为threadList的div，命名为allImageListObj
            
            if (action == 'pull') {
            	// 如果加载数据的动作是下拉，则有新微博可能已经更新，需要清空原来的
                // 先把内容清空，否则主题已经存在就不渲染模板
                allImageListObj.html('');
                var tmpl = template('imagetpl', re.data);			// 使用re的data数据渲染art模板引擎得到渲染后的html结构
                allImageListObj.html(tmpl);								// 写入新html数据
                $('.deco').show();
            } else {
                var tmpl = template('imagetpl', re.data);			// 使用新数据渲染art模板引擎
                if (tmpl == '{Template Error}') {
                    tmpl = '';												// 如果渲染失败，则html置空
                }
                $('.infobox').hide();										// 隐藏正在努力加载div
                allImageListObj.append(tmpl);								// 在文档尾追加新html数据
                // 如果返回的json数据的data字段的threadList字段里无数据，就不再加载任何数据
                if (re.data.displayinfo.length == 0) {
                    hasMoreData = false;					// 模块不在加载数据中
                    $('#loadNext').stop(true, true).hide();				// 正在加载停止，并隐藏（关于stop(true, true)的解释请见项目收藏夹）
                    $('#showAll').show();									// 出现已经显示全部数据的div
                    $('.deco').hide();
                }
            }
            window.nextStart = nextStart = re.nextStart;				// 将下一页数据给到nextStart，同时给到window.nextStart
            
            //window.Code.PhotoSwipe.disposeInstance(window.instance);
            //window.instance = window.Code.PhotoSwipe.attach(window.document.querySelectorAll('#Gallery a'), window.options);
			// 第一次直接散列图片（瀑布流请求后再调用本函数）
        	imagesLoadedHash();
        	likenuminit(); // 初始化点赞数量
        	
            // 至此，一次pull或者drag操作所有DOM元素与结构、特效变更结束
            isLoadingData = false;								// 本模块正在loading数据的状态变为false
            $('#refreshWait').hide();										// 隐藏刷新等待提示框
        },
        // 请求url错误或未响应时执行：
        error: function() {
            isLoadingData = false;								// 本模块正在loading数据的状态变为false
        }
    };
    // 所有事情ajax的操作opts都定义完了，才开始调用global.js中定义的DIC的ajax方法静态请求数据
    ajaxRequest(url, '', opts);
}
</script>
<script id="imagetpl" type="text/html">
<% for (var i in displayinfo) {%>
	<li class="expoli" data-wid="<%=displayinfo[i].enroll_id%>">
		<a href="<%=displayinfo[i].photo_path%>"> <img src="<%=displayinfo[i].photo_path%>" alt="" /> </a>
		<div class="person"><font class="bold"><%=displayinfo[i].name%></font>：</div>
		<div class="textshow"><%=displayinfo[i].wish%></div>
		<div class="operation">
			<span class="detail"></span>
			<span class="detail-text">详情</span>
			<span class="praise like" data-liked="<%=displayinfo[i].liked%>"></span>
			<span class="praise-text" data-likenum="<%=displayinfo[i].likenum%>">赞</span>
		</div>
	</li>
<% } %>
</script>
<script>
function ajaxRequest(url, data, opts) {
	var opts = opts || {};
    var loadingTimer = '';
    url = url.indexOf('?') === -1 ? url + '?' : url + '&';
    url = url.replace(/\&resType\=[^\&]+/g, '') + 'resType=json';
    url = url.replace(/\&isAjax\=1/g, '') + '&isAjax=1';
    
    var ajaxOpts = {
        url: url,
        data: data,
        cache: opts.cache || false,			// false不缓存请求
        processData: opts.isUpload,
        contentType: opts.isUpload ? false : 'application/x-www-form-urlencoded',
        type: data ? 'POST' : 'GET',		//如果没有data数据，就是get；如果有data数据就是post
        dataType: opts.dataType || 'json',	//opts中没有指定dataType就默认使用json
        timeout: opts.timeout || 30000,
        jsonp: opts.dataType === 'jsonp' ? 'callback' : null,
        jsonpCallback: opts.dataType === 'jsonp' ? opts.success : null,
        beforeSend: function(XHR, option) {
            if (opts.requestIndex) {
                if (opts.requestMode == 'block') {
                    if (jQuery.ajax._requestCache[opts.requestIndex]) {
                        return false;
                    }
                } else if (opts.requestMode == 'abort') {
                    if (jQuery.ajax._requestCache[opts.requestIndex]) {
                        jQuery.ajax._requestCache[opts.requestIndex].abort();
                    }
                }
            }

            var result = true;
            if (typeof opts.beforeSend == 'function') {
                result = opts.beforeSend(XHR, option);
            }

            if (result) {
                jQuery.ajax._requestCache[opts.requestIndex] = XHR;
                if (!opts.noShowLoading) {
                    loadingTimer = setTimeout(function() {
                        jQuery.DIC.showLoading();
                    }, 100);
                }
            }

            return result;
        },
        // 整个请求完整之后的回调
        complete: function(XHR, status) {
            /* if (jQuery.ajax._requestCache[opts.requestIndex]) {
                jQuery.ajax._requestCache[opts.requestIndex] = null;
            } */
            if (typeof opts.complete == 'function') {
                opts.complete(XHR, status);
            }
        },
        // 请求成功回调
        success: function(result, textStatus, c) {
            clearTimeout(loadingTimer);
            MLoading.hide();

            if (result == null && !opts.noMsg) {
                //jQuery.DIC.dialog({content:'您的网络有些问题，请稍后再试 [code:1]', autoClose:true});
            }

            if (typeof result !== 'object') {
                result = jQuery.parseJSON(result);
            }

            if (typeof opts.success == 'function') {
                opts.success(result, textStatus, opts);
            }

            if (result.errCode == 0) {
                if (!opts.noMsg) {
                    //jQuery.DIC.dialog({content:result.message, icon:'success', autoClose:true});
                }

                if (!opts.noJump && result.jumpURL) {
                    var locationTime = result.locationTime || 2000;
                    //jQuery.DIC.reload(result.jumpURL, locationTime);
                }
            } else if (result.errCode) {
                if (!opts.noMsg) {
                    var msg = result.message + '<span style="display:none;">' + result.errCode + '</span>';
                    //jQuery.DIC.dialog({content:msg, autoClose:true});
                }
            } else {
                if (!opts.noMsg) {
                    //jQuery.DIC.dialog({content:'数据解析失败，请稍后再试 [code:2]', autoClose:true});
                }
            }
        },
        // 出错的调用
        error: function(XHR, info, errorThrown) {
            clearTimeout(loadingTimer);
            //jQuery.DIC.showLoading('none');

            if (XHR.readyState == 0 || XHR.status == 0) {
                if (!opts.noMsg) {
                    var msg = '您的网络有些问题，请稍后再试[code:4]';
                    //jQuery.DIC.dialog({content: msg, autoClose:true});
                }
            } else if (info != 'abort' && !opts.noMsg) {
                if (!opts.noMsg) {
                    var msg = '';
                    switch (info) {
                        case 'timeout':
                            msg = '对不起，请求服务器网络超时';
                            break;
                        case 'error':
                            msg = '网络出现异常，请求服务器错误';
                            break;
                        case 'parsererror':
                            msg = '网络出现异常，服务器返回错误';
                            break;
                        case 'notmodified':
                        default:
                            msg = '您的网络有些问题，请稍后再试[code:3]';
                    }
                    //jQuery.DIC.dialog({content: msg, autoClose:true});
                }
            }
            if (typeof opts.error == 'function') {
                opts.error();
            }
        }
    };
    jQuery.ajax(ajaxOpts);
    
    return false;
}
</script>
</body>
</html>